<div class="link-container" [class.sub-link-container]='subLink' [class.center-me]='collapsed' [class.on-route]='onRoute'
  (click)='onClick()'>
  <mat-icon class="link-icon">{{icon?icon:'label_important'}}</mat-icon>
  <p class="link-title" [class.hide-me]='collapsed'>{{title|translate}}</p>
  <mat-icon [class.hide-me]='collapsed' *ngIf='children&&children.length > 0' class="expand-link-icon">{{!expandSubLink?'keyboard_arrow_right':'keyboard_arrow_down'}}</mat-icon>
</div>
<div class="sub-router-links" #subLinkContainer [class.show-me]='expandSubLink' [class.hide-me]='collapsed'>
  <app-router-link *ngFor='let lk of children' [icon]='lk.icon' [title]='lk.title' [url]='lk.url' [children]='lk.children'
    [subLink]='true' (onRouteChange)='onSubRoute($event)'></app-router-link>
</div>
