<app-detail-page-tpls [title]='title' [editPermission]='editPermission' [apiSrv]='apiSrv'>

  <!-- <app-detail-info-tab isBasic='true'>
    <app-detail-edit-basic-info-tab>
      <app-product-detail-basic-info></app-product-detail-basic-info>
    </app-detail-edit-basic-info-tab>
  </app-detail-info-tab> -->


  <app-detail-info-tab isBasic='true'>
    <app-detail-edit-basic-info-tab>
      <app-product-basic-info-ex></app-product-basic-info-ex>
    </app-detail-edit-basic-info-tab>
  </app-detail-info-tab>

</app-detail-page-tpls>