:host {
    width: 100%;
    height: 100%;
    display: block; // background-color: green;
    div.products-table {
        height: 100%;
        position: absolute;
        overflow-y: auto;
    }
    div.content-container {
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        margin: 8px;
        div.paginator-container {
            background-color: #FFF;
        }
    }
}