<div class="item-container" fxLayout='row' fxLayoutAlign='space-between center'>
    <div class="item-info">
        <img [src]='iconUrl?(iconUrl|serverRedirect:128):"#"' alt="">
    </div>
    <div fxFlex>
        <div class="item-desciption">
            <input type="text" [ngModel]="itemName" name="itemName" (ngModelChange)='onNameChange($event)'>
        </div>
    </div>
    <div>
        <button mat-icon-button (click)='saveItem()' [class.hidden]='!canSave'>
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button (click)='deleteItem()'>
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>