:host {
    div.container {
        width: 100%;
        width: 100%;
        padding: .5rem 1rem;
        form {
            display: block;
            width: 100%;
            &>* {
                width: 100%;
            }
            .tip {
                color: red;
                text-align: right;
            }
        }
    }
}