<page-plate-classic-list-view [title]='title' [icon]='icon' [pageModels]='pageModels' [permissionPoints]='permissionPoints'
    [rowMenus]='rowMenus' [pageSizeOptions]='pageSizeOptions' [advanceMenus]='advanceMenus' [columnDefs]='columnDefs'
    [displayedColumns]='displayedColumns' [pageData]='pageData' (pageChange)='onPageChange($event)' (pageRefresh)='onRefresh()'
    (pageOptionChange)='onPageOptionChange($event)' (pageModelChange)='onPageModelChange($event)' (rowClick)='onRowClick($event)'
    (createData)='onCreateData()'(sortData)='onSortData($event)' #listViewCt>
</page-plate-classic-list-view>
