<div class="container">
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="groupInfoForm">
      <form [formGroup]="groupInfoForm">
        <ng-template matStepLabel>{{'tips.InputProductGroupName'|translate}}</ng-template>
        <div class="step-container">
          <mat-form-field class="group-name-field">
            <input matInput placeholder="{{'glossary.Name'|translate}}" formControlName="name" required>
          </mat-form-field>
          <div class="step-buttons">
            <button mat-button matStepperNext *ngIf='groupInfoForm.valid'>
              <!-- <mat-icon></mat-icon> -->
              <span>{{'button.Next'|translate}}</span>
            </button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="selectGroupItemsForm">
        <ng-template matStepLabel>{{'tips.SelectProductGroupItems'|translate}}</ng-template>
        <div class="step-container product-group-items">
          <div class="left-category">
            <app-category-select-panel [launch]='leftProductCategoryMdSrv' [addUnCategoryNode]='false' (onCategorySelect)='onSelectProductCategory($event)'></app-category-select-panel>
          </div>
          <div class="select-content">
            <app-simple-icon-list-page [launch]='productListMdSrv' [itemWidth]='180' [itemHeight]='130' (onItemSelect)='onSelectProducts($event)'></app-simple-icon-list-page>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>