:host {
    display: block;
    width: 100%;
    height: 100%;
    div.container {
        width: 100%;
        height: 100%;
        div.step-container {
            width: 100%;
            height: 482px;
            box-sizing: border-box;
            .group-name-field {
                width: 100%;
                &>* {
                    width: 100%;
                }
            }
            .step-buttons {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
        div.product-group-items {
            display: flex;
            align-items: stretch;
            div.left-category {
                flex: 0 1 250px; // background-color: green;
            }
            div.select-content {
                flex: 1 1 auto;
                max-width: 602px;
            }
        }
    }
}