<div class="container">
    <div class="header">
        <div class="item organ-name">
            {{'glossary.Organ'|translate}}
        </div>
        <div class="item">
            <mat-checkbox color='primary' (change)='onAllRetrieve($event)'>
                {{'button.Retrieve'|translate}}
            </mat-checkbox>
        </div>
        <div class="item">
            <mat-checkbox color='primary' (change)='onAllUpdate($event)'>
                {{'button.Update'|translate}}
            </mat-checkbox>
        </div>
        <div class="item">
            <mat-checkbox color='primary' (change)='onAllDelete($event)'>
                {{'button.Delete'|translate}}
            </mat-checkbox>
        </div>
    </div>
    <div class="content cus-scroller">
        <div class="organ" *ngFor='let item of organizations'>
            <div class="item organ-name">
                <p class="name">{{item.name}}</p>
            </div>
            <div class="item">
                <mat-checkbox color='primary' [(ngModel)]="item.retrieveOp" [ngModelOptions]="{standalone: true}"></mat-checkbox>
            </div>
            <div class="item">
                <mat-checkbox color='primary' [(ngModel)]="item.updateOp" [ngModelOptions]="{standalone: true}"></mat-checkbox>
            </div>
            <div class="item">
                <mat-checkbox color='primary' [(ngModel)]="item.deleteOp" [ngModelOptions]="{standalone: true}"></mat-checkbox>
            </div>
        </div>
    </div>
</div>