<div class="list-container">
  <mat-table [dataSource]="dataSource" class="list-table">
      <!-- column setting -->
      <ng-container *ngFor="let column of columnDefs">

          <ng-container *ngIf='(column.id|lowercase)=="select"' [matColumnDef]="column.id">
              <mat-header-cell *matHeaderCellDef [fxFlex]="'55px'"></mat-header-cell>
              <mat-cell *matCellDef="let element" [fxFlex]="'55px'">
                  <mat-checkbox color="primary" [checked]='element.select' (change)='onItemSelect(!cbox.checked,element.id)' (click)='$event.stopPropagation()'
                      #cbox>
                  </mat-checkbox>
              </mat-cell>
          </ng-container>

          <ng-container *ngIf='(column.id|lowercase)=="icon"' [matColumnDef]="column.id">
              <mat-header-cell *matHeaderCellDef [fxFlex]="'84px'"> {{'glossary.Icon'|translate}} </mat-header-cell>
              <mat-cell *matCellDef="let element" [fxFlex]="'84px'">
                  <img class="listable-icon" [src]="element.icon?(element.icon|serverRedirect:128):'assets/images/common/image-placeholder.png'">
              </mat-cell>
          </ng-container>

          <ng-container *ngIf='(column.id|lowercase)!="select"&&(column.id|lowercase)!="icon"' [matColumnDef]="column.id">
              <mat-header-cell *matHeaderCellDef [fxFlex]="column.width>0?column.width+'px':''"> {{column.name}} </mat-header-cell>
              <mat-cell *matCellDef="let element" [fxFlex]="column.width>0?column.width+'px':''">{{element[column.id]}} </mat-cell>
          </ng-container>

      </ng-container>
      <!-- column header setting -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}" (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false" (click)='onItemSelect(row.select,row.id)'></mat-row>
  </mat-table>
</div>