<div class="search-container">
  <mat-form-field floatPlaceholder="never">
    <input type="text" matInput [matAutocomplete]="auto" [formControl]="searchCt" placeholder="{{'tips.SearchPlaceHolder'|translate}}">
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="launch.displayFn" (optionSelected)='onSelected($event)'>
    <mat-option *ngFor="let option of filterOptions | async" [value]="option">
      <!-- {{ option[displayField] }} -->
      {{ launch.optionDisplayFn(option) }}
    </mat-option>
  </mat-autocomplete>
</div>