<div class="page-layout simple left-sidenav inner-sidenav" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg" fxLayout="column">
        <div fxFlex='30px'></div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div class="ml-12" fxLayout='row' fxLayoutAlign='start center'>
                <button mat-button class="mat-icon-button sidenav-toggle" fuseMatSidenavToggler="simple-left-sidenav-3" fxHide.gt-md>
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_basket</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{'glossary.Product'|translate}}</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="{{'button.Search'|translate}}">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <button mat-raised-button [routerLink]="'/app/product-detail'" class="add-product-button mat-white-bg mr-12">
                <span>{{'button.AddProduct'|translate}}</span>
            </button>

        </div>
        <div fxFlex='25px'>
            <div class="fxLayout-container" fxLayout='row' fxLayoutAlign='end center'>
                <button mat-button *ngIf='!selectMode' (click)='onSelect()'>
                    <mat-icon>check_box</mat-icon>
                    {{'button.Select'|translate}}
                </button>
                <button mat-button *ngIf='selectMode' (click)='onUnSelect()'>
                    <mat-icon>check_box_outline_blank</mat-icon>
                    {{'button.ClearSelect'|translate}}
                </button>
                <button mat-button *ngIf='selectMode&&hasSelectItems'>
                    <mat-icon>delete</mat-icon>
                    {{'button.Delete'|translate}}
                </button>
                <button mat-button *ngIf='selectMode&&hasSelectItems' (click)='bulkChangeCategory()'>
                    <mat-icon>swap_horiz</mat-icon>
                    {{'button.ChangeCategory'|translate}}
                </button>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <mat-sidenav-container>

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav" align="start" opened="true" mode="side" fuseMatSidenavHelper="simple-left-sidenav-3" mat-is-locked-open="gt-md">

            <div class="sidenav-content" fusePerfectScrollbar>
                <app-product-category-view-list></app-product-category-view-list>
            </div>

        </mat-sidenav>
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center list-content" fusePerfectScrollbar>
            <app-product-view-list></app-product-view-list>
        </div>
        <!-- / CENTER -->

    </mat-sidenav-container>

</div>