<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_basket</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{'glossary.Product'|translate}}</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="{{'button.Search'|translate}}">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <div fxLayout='column'>
                <div>
                    <button mat-raised-button [routerLink]="'/app/product-detail'" class="add-product-button mat-white-bg my-12 mt-sm-0">
                        <span>{{'button.AddProduct'|translate}}</span>
                    </button>
                </div>
                <div fxLayout='row' fxLayoutAlign='end center'>
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="advSettings">
                            <mat-icon>settings</mat-icon>
                        </button>

                        <mat-menu #advSettings="matMenu">
                            <button mat-menu-item>
                                <mat-icon>waves</mat-icon>
                                {{'button.BulkManage'|translate}}
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">
            <div class="products-table">
                <icon-item *ngFor="let item of productItems" [Id]='item.id' [Name]='item.name' [Description]='item.description' [Icon]='item.icon?pathSrv.redirectServerUrl(item.icon):"/assets/images/place-holder/product.jpg"'
                    [routerLink]="'/app/product-detail/' + item.id"></icon-item>
            </div>
            <mat-paginator #paginator [length]="0" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]='true'>
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>