<div class="basic-info-container">
  <form name="detailForm" [formGroup]="detailForm">
    <input type="hidden" formControlName='id' name='id'>
    <mat-form-field>
      <input matInput name="name" formControlName="name" required placeholder="{{'glossary.Name'|translate}}">
      <mat-error *ngIf="detailForm.get('name').hasError('required')">{{'message.RequiredError'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput name="description" formControlName="description" placeholder="{{'glossary.Description'|translate}}"></textarea>
      <mat-error *ngIf="detailForm.get('description').hasError('maxlength')">{{'message.MaxLengthError'|translate}}</mat-error>
    </mat-form-field>

    <ng-content></ng-content>
  </form>
</div>


<div class="form-button" fxLayout='row' fxLayoutAlign='end center' *ngIf='!detaiMdSrv.readDataOnly'>
  <div *ngFor='let btn of manageButtons'>
    <button mat-button (click)="btn.click(detaiMdSrv.currentData)" *ngIf='needPersistent?detaiMdSrv.currentData.id:true'>
      <mat-icon>{{btn.icon}}</mat-icon>
      <span>{{btn.name|translate}}</span>
    </button>
  </div>
  <div>
    <button mat-button *ngIf='detaiMdSrv.currentData.id' appIconChangeCt [uploadUrl]='iconUploadUrl' [objId]='detaiMdSrv.currentData.id'
      [iconUrl]='detaiMdSrv.currentData.icon|serverRedirect:128' (afterUpload)='afterIConChange($event)'>
      <mat-icon>donut_small</mat-icon>
      <span>{{'button.ChangeICon'|translate}}</span>
    </button>
  </div>
  <div>
    <button mat-button [disabled]='detailForm.invalid||!extCanSave' (click)="submit()">
      <mat-icon>save</mat-icon>
      <span>{{'button.Save'|translate}}</span>
    </button>
  </div>
</div>