<div class="basic-info-container">
  <form name="productForm" [formGroup]="productForm">
    <input type="hidden" formControlName='id' name='id'>
    <input type="hidden" formControlName='categoryId' name='categoryId'>
    <mat-form-field>
      <input matInput name="name" formControlName="name" required placeholder="{{'glossary.ProductName'|translate}}">
      <mat-error *ngIf="productForm.get('name').hasError('required')">{{'message.RequiredError'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly name="categoryName" formControlName="categoryName" required placeholder="{{'glossary.ProductCategory'|translate}}"
        (click)='onEditCategory()'>
      <mat-error *ngIf="productForm.get('categoryId').hasError('required')">{{'message.RequiredError'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput name="description" formControlName="description" placeholder="{{'glossary.Description'|translate}}"></textarea>
      <mat-error *ngIf="productForm.get('description').hasError('maxlength')">{{'message.MaxLengthError'|translate}}</mat-error>
    </mat-form-field>
  </form>
</div>

<div fxLayout='row' fxLayoutAlign='end center'>
  <div>
    <button mat-button *ngIf='detaiMdSrv.product.id' appIconChangeCt [uploadUrl]='iconUploadUrl' [objId]='detaiMdSrv.product.id'
      [iconUrl]='pathSrv.redirectServerUrl(detaiMdSrv.product.icon)' (afterUpload)='afterIConChange($event)'>
      <span>{{'button.ChangeICon'|translate}}</span>
    </button>
  </div>
  <div>
    <button mat-button (click)="submitProduct()" [disabled]='!productForm.valid'>
      <span>{{'button.Save'|translate}}</span>
    </button>
  </div>
</div>