<input type="hidden" #departmentIdFilter>
<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}" matSort>
 
  <ng-container matColumnDef="icon">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <!-- <img class="product-image" [src]="'assets/images/ecommerce/product-image-placeholder.png'"> -->
      <mat-icon style="font-size: 48px;">account_circle</mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'glossary.Name'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'glossary.Phone'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="mail">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'glossary.Mail'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.mail}} </mat-cell>mail
  </ng-container>
  <!-- Buttons Column -->
  <ng-container cdkColumnDef="buttons">
    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
    <mat-cell *cdkCellDef="let contact">
      <div fxFlex="row" fxLayoutAlign="end center">

        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">
          <button mat-menu-item (click)="editAccount(contact)">
            <mat-icon>mode_edit</mat-icon>
            {{'button.Edit'|translate}}
          </button>
          <button mat-menu-item aria-label="remove" (click)="deleteAccount(contact)">
            <mat-icon>delete</mat-icon>
            {{'button.Delete'|translate}}
          </button>
        </mat-menu>
      </div>

    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let contact; columns: displayedColumns;" class="contact" (click)="editAccount(contact)" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
  </mat-row>
</mat-table>