:host {
    div.container {
        border-bottom: 1px solid #999999;
        vertical-align: bottom;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: .5rem;
        input {
            padding: .3rem;
            outline: none;
            font-size: 1rem;
            color: #999999;
            &.edit {
                color: black;
                &::placeholder {
                    color: black;
                }
            }
            &.name {
                width: 150px;
            }
            &.num {
                width: 150px;
            }
        }
        textarea {
            flex: 1 1 0;
            height: 40px;
            padding: .3rem;
            font-size: 1rem;
            outline: none;
            color: #999999;
            &.edit {
                color: black;
                &::placeholder {
                    color: black;
                }
            }
        }
        div.bar {
            width: 80px;
        }
    }
}