<div class="container">
  <input type="text" class="name" placeholder="—" [(ngModel)]='packageName' [readonly]='!editMode'
    [class.edit]='editMode'>
  <input type="number" class="num" placeholder="0" [(ngModel)]='packageNum' [readonly]='!editMode'
    [class.edit]='editMode'>
  <textarea rows="1" placeholder="—" [(ngModel)]='packageRemark' [readonly]='!editMode'
    [class.edit]='editMode'></textarea>
  <div class="bar">
    <button mat-icon-button (click)='onEdit()'>
      <mat-icon>
        {{editMode?"save":"edit"}}
      </mat-icon>
    </button>
    <button mat-icon-button (click)='onDelete()'>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>