<form name="detailForm" [formGroup]="detailForm">
  <div class="form-container">

    <mat-form-field>
      <input matInput name="mail" formControlName="mail" required placeholder="{{'glossary.Mail'|translate}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="phone" formControlName="phone" placeholder="{{'glossary.Phone'|translate}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="location" formControlName="location" placeholder="{{'glossary.Location'|translate}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="department" formControlName="department" placeholder="{{'glossary.Department'|translate}}" >
    </mat-form-field>

    <mat-form-field>
      <input matInput name="activationTime" formControlName="activationTime" placeholder="{{'glossary.ActivationTime'|translate}}" >
    </mat-form-field>

    <mat-form-field>
      <input matInput name="expireTime" formControlName="expireTime" placeholder="{{'glossary.ExpireTime'|translate}}" >
    </mat-form-field>
  </div>
</form>