<!-- CHAT -->
<div class="chat" fxFlex fxLayout="column">

  <!-- CHAT TOOLBAR -->
  <mat-toolbar class="chat-toolbar">

    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

      <div fxLayout="row" fxLayoutAlign="start center">

        <!-- RESPONSIVE CHATS BUTTON-->
        <div mat-button fxHide.gt-md class="responsive-chats-button mat-icon-button mr-16" fuseMatSidenavToggler="chat-left-sidenav"
          aria-label="chats button">
          <mat-icon class="s-36">view_carousel</mat-icon>
        </div>
        <!-- / RESPONSIVE CHATS BUTTON-->

        <!-- CHAT CONTACT-->
        <div class="chat-contact" fxLayout="row" fxLayoutAlign="start center">

          <div class="chat-contact-name">
            {{specname}}
          </div>

        </div>
        <!-- / CHAT CONTACT-->
      </div>
    </div>
  </mat-toolbar>
  <!-- / CHAT TOOLBAR -->

  <!-- CHAT CONTENT -->
  <div id="chat-content" fxFlex fusePerfectScrollbar fxLayout='column'>
    <div *ngFor='let charlet of charlets' class="detail-img-container">
      <img [src]='getCharletUrl(charlet.url)' style="width:100%;">
    </div>

  </div>
  <!-- / CHAT CONTENT -->
</div>
<!-- / CHAT -->