:host {
    display: block;
    width: 100%;
    div.tpls-card-container {
        width: 100%;
        box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
        div.tpls-card-header {
            height: 110px;
            border-bottom: 1px solid #E0E0E0;
            display: flex;
            justify-content: center;
            align-items: center;
            &>* {
                display: inline-flex;
            }
            .card-title {
                font-size: 18px;
            }
        }
        div.tpls-card-content {
            padding: 15px 0 15px 0;
            div.tpls-card-item {
                height: 50px;
                &:hover {
                    background-color: #F5F5F5;
                    cursor: pointer;
                }
            }
            .item-selected {
                background-color: #039BE5 !important;
                color: white;
            }
        }
    }
}