<div class="container">
  <form name="detailForm" [formGroup]="detailForm">
    <input type="hidden" formControlName='keyword' name='keyword'>
    <input type="hidden" formControlName='workFlowId' name='workFlowId'>
    <mat-form-field>
      <input matInput name="workFlowName" formControlName="workFlowName" placeholder="{{'glossary.WorkFlow'|translate}}"
        [matAutocomplete]="workFlowAuto" required>
      <mat-error *ngIf="detailForm.get('workFlowName').hasError('required')">{{'message.RequiredError'|translate}}</mat-error>
    </mat-form-field>

    <mat-autocomplete #workFlowAuto="matAutocomplete" [displayWith]="displaySubWorkFlowFn" (optionSelected)='onSubWorkFlowSelectd($event)'>
      <mat-option *ngFor="let wk of usableWorkFlows | async" [value]="wk">{{wk.name}}</mat-option>
    </mat-autocomplete>

    <div class="bar">
      <button mat-button [disabled]='!canCommit' (click)='onDefineFlowDetail()'>
        <mat-icon>save</mat-icon>
        <span>{{'button.Save'|translate}}</span>
      </button>
    </div>
  </form>
</div>