<div class="fxLayout-container" fxLayout='row'>
  <div class="category-folder" fxFlex='240px'>
    <app-product-category-list [categories]='categories' [closable]='true' [title]='title' [type]='type' [parentId]='parentId' [organizationId]='organizationId' (onCategorySelected)='openChildCategory($event)'
      (onClose)="closePanel()" (afterCategoryDeleted)='onCurrentCategoryDeleted($event)' [brief]='brief'></app-product-category-list>
  </div>
  <div class="category-sub-folder" fxFlex>
    <ng-template #childCategory></ng-template>
  </div>
</div>