:host {
    display: block;
    width: 100%;
    height: 100%;
    div.container{
        width: 100%;
        height: 100%;
        background-color: orange;
    }
    div.bar-container {
        display: none;
        // display: flex;
        width: 100%;
        height: 100%;
        flex-flow: row;
        $tool-bar-divider-border: 1px solid #E0E0E0;
        &>div {
            box-sizing: border-box;
        }
        div.bk-container {
            flex: 1 1 auto;
        }
        div.profile-container {
            width: 156px;
            div.profile-wrap {
                display: flex;
                width: 156px;
                height: 60px;
                box-sizing: border-box;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                .avator-wrap {
                    width: 42px;
                    height: 42px;
                    border-radius: 20px;
                    box-sizing: border-box;
                    border: 1px solid rgba(161,161,161, 1.0);
                    background-color: #EBECF0; // margin-right: 10px;
                    .profile-avator {
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                    }
                }
                .profile-name {
                    width: 65px;
                    display: inline-block;
                    overflow: hidden;
                }
            }
        }
        div.search-container {
            width: 66px;
            border-left: $tool-bar-divider-border;
        }
        div.lang-container {
            width: 80px;
            border-left: $tool-bar-divider-border;
            .lang-flag-title {
                display: inline-block;
                min-width: 25px !important;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }
        }
        div.setting-container {
            width: 66px;
            border-left: $tool-bar-divider-border;
        }
        div.full-search-bar {
            display: flex;
            width: 100%;
            height: 100%;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            padding-left: 15px;
            .full-search-input {
                width: 100%;
                height: 100%;
                font-size: 18px;
                border: none;
                &:focus {
                    outline-style: none;
                    box-shadow: none;
                }
            }
        }
        .hide-me {
            display: none !important;
        }
    }
}