<div class="container">
  <div class="add-btn-area">
    <button mat-raised-button class="btn-add">添加</button>
  </div>
  <div class="advance-btn-area">
    <button mat-button class="cus-manage-button adv-button" (click)='refresh()'>
      <mat-icon class="cus-header-icons">refresh</mat-icon>
      <span>{{'button.Refresh'|translate}}</span>
    </button>
    <button mat-button class="cus-manage-button adv-button" (click)='changeSelectMode()'>
      <mat-icon class="cus-header-icons">
        {{ selected ?'indeterminate_check_box':'check_box'}}
      </mat-icon>
      <span>{{(selected ?'button.CancelSelect':'button.Select')|translate}}</span>
    </button>

    <button mat-button class="cus-manage-button adv-button">
      <mat-icon class="cus-header-icons">view_list</mat-icon>
      <span>{{'button.Display'|translate}}</span>
    </button>
  </div>
</div>