:host {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: 15px;
    display: block;
    div.page-container {
        display: flex;
        flex-direction: column;
    }
    div.page-container>* {
        width: 100%;
    }
}