<form name="detailForm" [formGroup]="detailForm">
  <div class="page-container">
    <mat-form-field>
      <input matInput formControlName="areaAlias"  placeholder="{{'glossary.AreaTypeAlias'|translate}}">
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="areaTypeId" placeholder="{{'glossary.AreaType'|translate}}" required (change)='selectionChange(areaTypeCt.value)' #areaTypeCt>
        <mat-option *ngFor="let item of areas" [value]="item.id">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>