<div class="fxLayout-container category-form-container" fxLayout='column'>
  <div class="category-form-header" fxFlex='55px'>
    <div class="fxLayout-container" fxLayout='row' fxLayoutAlign='space-between center'>
      <div>
        <!-- <p>
          <mat-icon>border_color</mat-icon>
          编辑</p> -->
        <button mat-button>
          <mat-icon>border_color</mat-icon>
          编辑
        </button>
      </div>
      <div>
        <button mat-button class="mat-icon-button">
          <mat-icon class="operate-button-icon">close</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="category-form-content">

  </div>
  <div class="category-form-footer">

  </div>
</div>