<div class="fxLayout-container category-form-container" fxLayout='column'>
  <!--header-->
  <div class="category-form-header" fxFlex='55px'>
    <div class="fxLayout-container" fxLayout='row' fxLayoutAlign='space-between center'>
      <div>
        <span class="category-form-title">{{'tips.EditProductCategory'|translate}}</span>
      </div>
      <div>
        <button mat-button class="mat-icon-button" (click)='closeDialog()'>
          <mat-icon class="operate-button-icon">close</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <!--/header-->

  <!--content-->
  <div class="category-form-content" fxFlex>
    <form [formGroup]="categoryForm">
      <input type="hidden" formControlName="id">
      <input type="hidden" formControlName="type">
      <input type="hidden" formControlName="organizationId">
      <input type="hidden" formControlName="displayIndex">
      <input type="hidden" formControlName="parentId">
      <div class="category-form">
        <mat-form-field>
          <input name="name" formControlName="name" matInput placeholder="{{'glossary.Name'|translate}}" required>
        </mat-form-field>

        <mat-form-field>
          <textarea name="description" formControlName="description" matInput placeholder="{{'glossary.Description'|translate}}"></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
  <!--/content-->

  <!--footer-->
  <div class="category-form-footer" fxFlex='45px'>
    <div class="fxLayout-container" fxLayout='row' fxLayoutAlign='end center'>
      <div>
        <button [disabled]='categoryForm.invalid' (click)='submit()' mat-button>{{'button.Save'|translate}}</button>
      </div>
    </div>
  </div>
  <!--/footer-->
</div>