<div class="tab-container">
  <div class="manage-buttons">
    <button mat-button (click)='addShare()'>
      <mat-icon>add</mat-icon>
      <span>{{'button.Add'|translate}}</span>
    </button>
  </div>
  <div class="share-content cus-scroller">
    <app-media-file-share-edit-item *ngFor='let item of shares;let idx=index' (afterDelete)='deleteShare($event)' (afterSave)='saveShare($event)'
      [idx]='idx+1' [mediaId]='mediaId' [shareResource]='item' [mediaType]='mediaType'></app-media-file-share-edit-item>
  </div>
</div>