:host {
    width: 100%;
    height: 100%;
    div.basic-info-container {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    div.basic-info-container * {
        width: 100%;
    } 
}