<form name="detailForm" [formGroup]="detailForm">
  <div class="form-container">

    <mat-form-field *ngIf='showPurchasePrice'>
      <input type="number" matInput name="purchasePrice" formControlName="purchasePrice" required placeholder="{{'glossary.PurchasePrice'|translate}}" (change)='purchasePriceChange(purchasePriceCt.value)' #purchasePriceCt>
    </mat-form-field>
    <mat-form-field *ngIf='showPartnerPrice'>
      <input type="number" matInput name="partnerPrice" formControlName="partnerPrice" required placeholder="{{'glossary.PartnerPrice'|translate}}">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput name="price" formControlName="price" required placeholder="{{'glossary.RetailPrice'|translate}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly name="categoryName" formControlName="categoryName" required placeholder="{{'glossary.ProductCategory'|translate}}"
        (click)='onEditCategory()'>
      <mat-error *ngIf="detailForm.get('categoryId').hasError('required')">{{'message.RequiredError'|translate}}</mat-error>
    </mat-form-field>
  </div>
</form>