:host {
    div.container {
        width: 100%;
        width: 100%;
        padding: .5rem 1rem;
        form {
            display: block;
            width: 100%;
            &>* {
                width: 100%;
            }
            .change-password-msg {
                margin: 0;
                padding: 0;
                text-align: right;
                color: red;
                display: none;
            }
            .show-ununiform-password-tip {
                display: block;
            }
        }
    }
}