<page-plate-simple-confirm-dialog [dialogTitle]='"dialog.ChangePassword"' [enableConfirm]='satisfyConfirm'
  (afterConfirm)='afterConfirm()'>
  <div class="container">
    <form name="detailForm" [formGroup]="detailForm">
      <mat-form-field>
        <span matPrefix>
          <mat-icon>lock</mat-icon>
        </span>
        <input type="password" matInput name="oldPassword" formControlName="oldPassword" required placeholder="{{'glossary.OriginalPassword'|translate}}">
      </mat-form-field>

      <mat-form-field>
        <span matPrefix>
          <mat-icon style="color: #2CB044;">lock</mat-icon>
        </span>
        <input type="password" matInput name="newPassword" formControlName="newPassword" placeholder="{{'glossary.NewPassword'|translate}}">
      </mat-form-field>

      <mat-form-field>
        <span matPrefix>
          <mat-icon style="color: #007ACC;">lock</mat-icon>
        </span>
        <input type="password" matInput name="confirmPassword" formControlName="confirmPassword" placeholder="{{'glossary.ConfirmPassword'|translate}}">
      </mat-form-field>

      <p class="change-password-msg" [class.show-ununiform-password-tip]='unUniformPassword'>{{'tips.ConfirmPasswordMustSame'|translate}}</p>
    </form>
  </div>
</page-plate-simple-confirm-dialog>