:host {
    display: block;
    width: 100%;
    height: 100%;
    div.main-category-header{
        background-color: #2D323E;
    }
    div.main-category {
        width: 100%;
        height: 100%;
    }
    .main-category-title {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: #737373;
    }
}