<div class="page-layout blank" fusePerfectScrollbar>
  <div class="page-container" fxLayout='column'>
    <div class="page-header" fxFlex='300px'>
      <div class="summary-container" fxLayout='column' fxLayoutAlign='center center' fxLayoutGap='10px' fxLayout.gt-sm='row' fxLayoutAlign.gt-sm='space-between end'>
        <div>
          <div class="product-avatar-container">
            <img class="product-avatar" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
          </div>
        </div>
        <div>
          <span class="primary-title product-tip-title">
            Product
          </span>
          <span class="sub-title product-title" *ngIf='productName'>
            {{productName}}
          </span>
        </div>
        <div fxFlex.lt-md='0' fxFlex.gt-sm></div>
        <div>
          <button mat-raised-button color="accent" *ngIf='showSubmitBtn' (click)='submit()'>
            <mat-icon style="color: white;">done</mat-icon>
            {{'button.Save'|translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="page-content">
      <mat-tab-group>
        <mat-tab label="{{'glossary.BasicInfo'|translate}}">
          <app-product-detail-basic-info></app-product-detail-basic-info>
        </mat-tab>
        <mat-tab label="{{'glossary.ProductSpec'|translate}}">Content 2</mat-tab>
      </mat-tab-group>
    </div>
  </div>

</div>