<!-- <fuse-chat-product-spec-detail></fuse-chat-product-spec-detail> -->

<!-- <app-product-spec-fus></app-product-spec-fus> -->

<div id="chat" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-sidenav-container>

                <!-- LEFT SIDENAV -->
                <mat-sidenav class="sidenav" align="start" opened="true" mode="side" fuseMatSidenavHelper="chat-left-sidenav" mat-is-locked-open="gt-md">
                    <app-specs-nav-left></app-specs-nav-left>
                </mat-sidenav>
                <!-- / LEFT SIDENAV -->

                <!-- CONTENT -->
                <!-- <fuse-chat-start *ngIf="!productSpecCharlets"></fuse-chat-start> -->

                <app-product-detail-spec-charlets></app-product-detail-spec-charlets>
                <!-- <app-product-detail-spec-charlets *ngIf="productSpecCharlets"></app-product-detail-spec-charlets> -->
                <!-- <fuse-chat-view></fuse-chat-view> -->
                <!-- / CONTENT -->

                <!-- RIGHT SIDENAV -->
                <mat-sidenav class="sidenav" align="end" opened="false" mode="over" fuseMatSidenavHelper="chat-right-sidenav">
                    <!-- <fuse-chat-right-sidenav></fuse-chat-right-sidenav> -->
                    <app-specs-nav-right></app-specs-nav-right>
                </mat-sidenav>
                <!-- / RIGHT SIDENAV -->

            </mat-sidenav-container>

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>