:host {
    width: 100%;
    height: 100%;
    display: block;
    div.paging-bar-container {
        background-color: #fff;
        .all-select-button {
            margin-left: 8px;
        }
        div.all-select-checkbox-wrapper {
            margin-left: 15px;
        }
    }
}