<div>
    <h3 matSubheader>PROPERTY PANEL</h3>
    <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Id">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Icon">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="CreateTime" disabled="true">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="ModifyTime" disabled="true">
        </mat-form-field>
      
        <mat-form-field>
          <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="v1">Option1</mat-option>
            <mat-option value="v2">Option2</mat-option>
            <mat-option value="v3">Option3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="button-row">
        <button mat-button>Reset</button>
        <button mat-raised-button>Update</button>
      </div>
</div>