<div class="container">

  <div class="op-bar" [class.inactive]='fullSearchMode'>

    <div class="l-part">
      <button mat-button class="op rb" (click)='drawerSrv.toggle()'>
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="c-part">
      <button mat-button class="op user" style="padding:0;" [matMenuTriggerFor]="opMenu">
        <div class="wrap">
          <div class="avatar">
            <img [src]="avatar?(avatar|serverRedirect:128):'assets/images/avatars/profile.jpg'">
          </div>
          <p class="username">{{nickName}}</p>
          <mat-icon>expand_more</mat-icon>
        </div>
      </button>
    </div>

    <div class="r-part">
      <button mat-button class="op lb" (click)='openSearch()'>
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button class="op lb lang" [matMenuTriggerFor]="langMenu">
        <span class="lang-flag-title">{{selectedLang}}</span>
      </button>
      <button mat-button class="op lb setting">
        <mat-icon>list</mat-icon>
      </button>

      <mat-menu #opMenu="matMenu" yPosition="below" [overlapTrigger]="false">
        <button mat-menu-item (click)='viewProfile()'>
          <mat-icon>account_circle</mat-icon>
          <span>{{'button.Profile'|translate}}</span>
        </button>
        <button mat-menu-item (click)='logout()'>
          <mat-icon>exit_to_app</mat-icon>
          <span>{{'button.Logout'|translate}}</span>
        </button>
      </mat-menu>

      <mat-menu #langMenu="matMenu" yPosition="below" [overlapTrigger]="false">
        <button mat-menu-item *ngFor='let it of langSrv.langsDisplay' (click)='langSrv.currentLang=it.key'>
          <span style="margin-left: 10px;">{{it.value}}</span>
        </button>
      </mat-menu>
    </div>

  </div>

  <div class="search-bar" [class.active]='fullSearchMode'>
    <input type="text" class="full-search-input" placeholder="{{'tips.SearchPlaceHolder'|translate}}" #searchCt
      (keyup)='keyUp.next($event)'>
    <button mat-icon-button (click)='closeSearch()'>
      <mat-icon>clear</mat-icon>
    </button>
  </div>

</div>