<div class="fxLayout-container confirm-dialog-container" fxLayout='column'>
    <div class="confirm-dialog-header" fxFlex='40px'>
        {{'tips.Prompt'|translate}}
    </div>
    <div class="confirm-dialog-content" fxFlex>{{data.message}}</div>
    <div>
        <div fxLayout='row' fxLayoutGap='8px' fxLayoutAlign='center center'>
            <div>
                <button class="cur-dialog-button" mat-button (click)='_onConfirm()' mat-dialog-close>{{'button.Confirm'|translate}}</button>
            </div>
            <div>
                <button class="cur-dialog-button" mat-button mat-dialog-close>{{'button.Cancel'|translate}}</button>
            </div>
        </div>
    </div>
</div>