<div class="setting">
  <form [formGroup]="priceForm">
    <div class="item">
      <span>{{'glossary.PurchasePrice'|translate}}</span>
      <span>×</span>
      <span>
        <input type="number" class="rate" formControlName="purchasePriceToPartnerPrice"> (%)
      </span>
      <span>＝</span>
      <span>{{'glossary.PartnerPrice'|translate}}</span>
    </div>
    <div class="item">
      <span>{{'glossary.PurchasePrice'|translate}}</span>
      <span>×</span>
      <span>
        <input type="number" class="rate" formControlName="purchasePriceToRetailPrice"> (%)
      </span>
      <span>＝</span>
      <span>{{'glossary.RetailPrice'|translate}}</span>
    </div>
  </form>
  <p class="msg" *ngIf='!dataValid'>比率输入有误</p>
</div>