<div class="container">
  <form name="detailForm" [formGroup]="detailForm">
    <input type="hidden" formControlName='id' name='id'>
    <mat-form-field>
      <input matInput name="mail" formControlName="mail" required placeholder="{{'glossary.Mail'|translate}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="phone" formControlName="phone" required placeholder="{{'glossary.Phone'|translate}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="province" formControlName="province" required placeholder="{{'glossary.Province'|translate}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="city" formControlName="city" required placeholder="{{'glossary.City'|translate}}">
    </mat-form-field>

  </form>
</div>