<div class='tab-container' fxLayout='column'>
  <div fxLayout='row' fxLayoutAlign='end center'>
    <button mat-button (click)='addShare()'>
      <mat-icon>add</mat-icon>
      <span>{{'button.Add'|translate}}</span>
    </button>
  </div>
  <div>
    <div class="mat-item-container" *ngFor='let item of shares;let idx=index'>
      <div class="mat-item-wrap" fxLayout='row'>
        <div class="mat-item-seqno" fxFlex='25px'>
          {{idx+1}}
        </div>
        <div fxFlex>
          <app-media-file-share-edit-item (afterDelete)='deleteShare($event)' (afterSave)='saveShare($event)' [mediaId]='mediaId' [shareResource]='item' [mediaType]='mediaType'></app-media-file-share-edit-item>
        </div>
      </div>
    </div>
  </div>
</div>
