:host {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: block;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    div.content-container {
        width: 100%;
        height: 100%;
        div.content-header {
            height: 70px;
            border-bottom: 1px solid #E0E0E0;
            div.content-icon-wrap {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                .page-icon {
                    $size: 24px;
                    width: $size;
                    height: $size;
                    font-size: $size;
                    margin-left: 45px;
                }
                .page-icon-title {
                    font-size: 24px;
                    font-weight: 400;
                    margin-left: 12px;
                }
            }
            div.content-icon-wrap>* {
                display: inline-flex;
                vertical-align: middle;
            }
        }
        div.content-wrapper {
            width: 100%;
            height: calc(100% - 106px);
            position: relative;
            div.area-type-container {
                width: 100%;
                height: 100%;
                position: absolute;
                overflow-y: auto;
                div.area-type-item {
                    height: 50px;
                    border-bottom: 1px solid #E0E0E0; // div.area-type-item-wrapper {
                    //     display: inline-block;
                    // }
                    div.one {
                        padding-left: 24px;
                    } // div.two {
                    //     width: 24px;
                    //     height: 50px;
                    // }
                    // .area-icon {
                    //     width: 44px;
                    //     height: 44px;
                    // }
                }
            }
        }
        div.content-footer {
            height: 34px;
            border-top: 1px solid #E0E0E0;
            .add-icon {
                margin-top: 5px;
            }
        }
        .area-type-item:hover {
            background-color: #F3F2F2;
        }
        .area-type-item:hover {
            cursor: pointer;
        }
    }
}