:host {
    width: 100%;
    height: 100%;
    display: block;
    div.bk-page {
        display: flex;
        width: 100%;
        height: 100%;
        flex-flow: column;
        div.bk-head {
            width: 100%;
            height: 135px;
            position: relative;
            box-sizing: border-box;
            padding: 0 12px;
            div.bk-head-icon-wrap {
                display: flex;
                height: 100%;
                color: white;
                justify-content: flex-start;
                align-items: center;
                .drawer-menu {
                    margin-right: 12px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .bk-head-title {
                    font-size: 24px;
                    font-weight: 400;
                    margin-left: 12px;
                }
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: -65px;
                z-index: -1;
                background-color: #03a9f4;
                background-image: url('/assets/images/backgrounds/header-bg.png');
                background-size: cover;
            }
        }
        div.bk-content {
            flex: 1 1 auto;
            height: 0;
            box-sizing: border-box;
            padding: 0 12px;
            div.bk-content-wrap {
                width: 100%;
                height: 100%;
                background-color: rgb(250, 250, 250);
                box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
                .nav-drawer-container {
                    width: 100%;
                    height: 100%;
                    .nav-drawer {
                        width: 50%;
                    }
                    .full-drawer {
                        width: 100% !important;
                    }
                }
            }
        }
    }
}