<!-- SIDENAV HEADER -->
<div class="sidenav-header">
    <!-- CHATS TOOLBAR -->
    <mat-toolbar>

        <!-- TOOLBAR TOP -->
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">

            <!-- USER AVATAR WRAPPER -->
            <div class="avatar-wrapper">
                <!-- USER AVATAR -->
                <img (click)="onEditProduct()" [src]="'assets/images/ecommerce/product-image-placeholder.png'" class="mat-avatar avatar"
                />
                <span>{{(product?.name?product.name:'glossary.NewProduct')|translate}}</span>
            </div>
            <!-- / USER AVATAR -->
            <div>
                <button mat-button class="mat-icon-button" (click)="onEditProduct()">
                    <mat-icon>mode_edit</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
        <!-- / TOOLBAR TOP -->

        <!-- TOOLBAR BOTTOM -->
        <mat-toolbar-row>

            <!-- SEARCH -->
            <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

                <!-- <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">

                    <mat-icon>search</mat-icon>

                    <input [(ngModel)]="searchText" type="text" placeholder="Search or start new chat" fxFlex>

                </div> -->
            </div>
            <!-- / SEARCH -->

        </mat-toolbar-row>
        <!-- / TOOLBAR BOTTOM -->

    </mat-toolbar>
    <!-- / CHATS TOOLBAR -->

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="sidenav-content" fusePerfectScrollbar fxFlex>

    <!-- CHATS CONTENT -->
    <div *fuseIfOnDom [@animateStagger]="{value:'50'}">

        <!-- CHATS LIST-->
        <div class="chat-list" fxLayout="column">

            <div matSubheader style="padding:0 0 0 15px;">
                <div fxLayout='row' fxFill>
                    <div fxFlex>
                        {{'glossary.ProductSpec'|translate}}
                    </div>
                    <div fxFlex='50px'>
                        <button mat-button [ngStyle]='{"width":"50px","padding":"0","margin":"0","min-width":"0"}' (click)='onEditProductSpec()'>
                            <mat-icon>add</mat-icon>
                        </button>
                        <!-- <a mat-button style="width: 50px;">
                            <mat-icon>add</mat-icon>
                        </a> -->
                    </div>
                </div>
            </div>

            <button mat-button class="contact" *ngFor="let spec of productSpecs | filter: searchText" [@animate]="{value:'*',params:{y:'100%'}}"
                (click)='onEditProductSpecPics(spec.id)' [ngStyle]='{"padding":"0 0 0 10px"}'>

                <div fxLayout="row" fxLayoutAlign="start center">

                    <div class="avatar-wrapper" fxFlex="0 1 auto" fxLayoutAlign="center center">
                        <img [src]="'assets/images/ecommerce/product-image-placeholder.png'" class="avatar" />
                        <!-- <mat-icon class="s-16 status" [ngClass]="contacts |getById:chat.contactId:'status'"></mat-icon> -->
                    </div>

                    <div fxLayout="row" fxFlex>

                        <div class="" fxFlex fxLayout="column" fxLayoutAlign="center start">
                            <div class="contact-name">{{spec?.name}}</div>
                        </div>

                        <div fxLayout="column" fxLayoutAlign="center end">
                            <div class="contact-last-message-time">
                                <button mat-button class="mat-icon-button" (click)="$event.stopPropagation();" [matMenuTriggerFor]="moreMenu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                            </div>

                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item (click)="onEditProductSpec(spec)">
                                    <mat-icon>mode_edit</mat-icon>
                                    <span>{{'button.Edit'|translate}}</span>
                                </button>
                                <button mat-menu-item (click)="onUploadFiles(spec)">
                                    <mat-icon>file_upload</mat-icon>
                                    <span>{{'button.Upload'|translate}}</span>
                                </button>
                            </mat-menu>
                            <!-- <div class="contact-last-message-time">
                                bbb
                            </div>
                            <div class="unread-message-count">ccc</div> -->
                        </div>
                    </div>
                </div>
            </button>

            <!-- <button mat-button class="contact"
                  *ngFor="let chat of user.chatList | filter: searchText"
                  (click)="getChat(chat.contactId)" ngClass="{'unread':contact.unread}"
                  [@animate]="{value:'*',params:{y:'100%'}}">

              <div fxLayout="row" fxLayoutAlign="start center">

                  <div class="avatar-wrapper" fxFlex="0 1 auto" fxLayoutAlign="center center">
                      <img [src]="contacts |getById:chat.contactId:'avatar'"
                           class="avatar"
                           alt="{{contacts |getById:chat.contactId:'name'}}"/>
                      <mat-icon class="s-16 status" [ngClass]="contacts |getById:chat.contactId:'status'"></mat-icon>
                  </div>

                  <div fxLayout="row" fxFlex>

                      <div class="" fxFlex fxLayout="column" fxLayoutAlign="center start">
                          <div class="contact-name">{{contacts |getById:chat.contactId:'name'}}</div>
                      </div>

                      <div fxLayout="column" fxLayoutAlign="center end">
                          <div class="contact-last-message-time">
                              {{chat.lastMessageTime | date}}
                          </div>
                          <div *ngIf="chat.unread" class="unread-message-count">{{chat.unread}}</div>
                      </div>
                  </div>
              </div>
          </button> -->

        </div>
        <!-- / CHATS LIST-->

        <!-- CONTACTS LIST-->
        <div class="contact-list" fxLayout="column">

            <!-- <div matSubheader *ngIf="(contacts| filter: searchText).length > 0">
                Contacts
            </div>

            <button mat-button class="contact" *ngFor="let contact of contacts| filter: searchText" (click)="getChat(contact.id)" [@animate]="{value:'*',params:{y:'100%'}}">

                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="avatar-wrapper" fxFlex="0 1 auto">
                        <img src="{{contact.avatar}}" class="mat-avatar avatar" alt="{{contact.name}}" />
                        <mat-icon class="s-16 status" [ngClass]="contact.status"></mat-icon>
                    </div>

                    <div class="" fxLayout="column" fxLayoutAlign="center start">
                        <div class="contact-name">{{contact.name}}</div>
                        <p class="contact-mood">{{contact.mood}}</p>
                    </div>
                </div>
            </button> -->
        </div>
        <!-- / CONTACTS LIST-->

        <!-- NO RESULTS MESSAGE -->
        <!-- <div *ngIf="(contacts| filter: searchText).length === 0" class="no-results-message">
            No results..
        </div> -->
        <!-- NO RESULTS MESSAGE-->

    </div>
    <!-- / CHATS CONTENT -->

</div>
<!-- / SIDENAV CONTENT -->