:host {
    display: block;
    width: 100%;
    position: relative;
    div.item-container {
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        span.item-idx {
            flex: 0 1 25px;
        }
        div.form-container {
            flex: 1 1 auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            div.input-field {
                width: 204px;
                height: 55px;
                box-sizing: border-box;
                position: relative;
                div.cover {
                    width: 100%;
                    height: 15px;
                    background-color: white;
                    position: absolute;
                    bottom: 0;
                }
            }
            div.manage-container {
                width: 0 !important;
                min-width: 120px;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    div.divider {
        border-top: 1px solid #DCDCDC;
        position: relative;
        bottom: 8px;
    }
}