:host {
    div.container {
        width: 280px;
        height: 100%;
        background-color: #2D323E;
        position: relative;
        overflow-x: hidden;
        div.wrap {
            width: 280px;
            height: 100%;
            background-color: #2D323E;
            display: flex;
            flex-flow: column;
            div.header {
                display: flex;
                width: 100%;
                height: 4rem;
                padding: 0 10px;
                background-color: #383C48;
                box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
                z-index: 9998;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                color: white;
                img.logo {
                    min-width: 36px;
                    width: 36px;
                    height: 36px;
                }
                p.crop {
                    flex: 1 1 auto;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    padding: 0 4px;
                }
                button.op {
                    &.sm {
                        display: none;
                    }
                }
            }
            div.content {
                width: 100%;
                flex: 1 1 0;
                padding-top: 1.5rem;
                div.area {
                    color: #96999F;
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                    font-size: 1rem;
                    &>p {
                        font-size: .8rem;
                        padding-left: 1.2rem;
                        padding-bottom: 1rem;
                        font-weight: 600;
                    }
                    & .link-icon {
                        width: 1rem;
                        height: 1rem;
                        font-size: 1rem;
                        transition: 500ms transform;
                        &.expand {
                            &.actived {
                                transform: rotate(90deg);
                            }
                        }
                    }
                    & .link-title {
                        flex: 1 1 auto;
                        height: 50px;
                        line-height: 50px;
                    }
                    div.link {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        color: white;
                        height: 3.125rem;
                        padding-left: 1.5rem;
                        padding-right: .5rem;
                        &>p {
                            padding-left: .5rem;
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: #2B303C;
                        }
                        &.actived {
                            background-color: #039BE5 !important;
                        }
                    }
                    div.link {}
                    div.group {
                        height: 3.125rem;
                        transition: 500ms height;
                        overflow: hidden;
                        div.link:first-child {
                            padding-left: 1.5rem !important;
                        }
                        div.link {
                            padding-left: 3rem;
                        }
                    }
                }
            }
        }
    }
    div.container.mini {
        width: 4rem;
        div.wrap {
            position: fixed;
            width: 4rem;
            transition: 200ms width;
            div.header {
                p.crop {
                    display: none;
                }
                button.op {
                    display: none !important;
                }
            }
            div.content {
                div.area {
                    &>p {
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            min-width: 1.6rem;
                            border-top: 2px solid;
                            opacity: .2;
                        }
                        &>span {
                            display: none;
                        }
                    }
                    div.group {
                        max-height: 3.125rem;
                    }
                }
            }
        }
        & .mini-hidden {
            display: none;
        }
    }
    div.container.mini.actived {
        div.wrap {
            width: 280px;
            div.header {
                p.crop {
                    display: inline-block;
                }
                button.op {
                    display: inline-block !important;
                    &.xs {
                        display: none !important;
                    }
                }
            }
            div.content {
                div.area {
                    &>p {
                        &::after {
                            min-width: 0;
                        }
                        &>span {
                            display: inline-block;
                        }
                    }
                    div.group {
                        max-height: 2000px !important;
                    }
                }
            }
        }
        & .mini-hidden {
            display: inline-block;
        }
    }
    @media screen and (min-width:960px) {
        div.container {
            div.wrap {
                div.header {
                    button.op {
                        &.xs {
                            display: none;
                        }
                        &.sm {
                            display: inline-block;
                        }
                    }
                }
                div.content {}
            }
        }
    }
}