:host {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: block;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    div.list-container {
        width: 100%;
        height: 100%;
        div.list-type {
            border-right: 1px solid #E0E0E0;
            div.list-type-container {
                margin-top: 70px;
                border-top: 1px solid #E0E0E0;
                div.list-type-item {
                    height: 50px;
                    border-bottom: 1px solid #E0E0E0;
                    .list-type-item-icon {
                        width: 50px;
                        height: 50px;
                        font-size: 50px;
                    }
                    .list-type-item-icon {
                        cursor: pointer;
                    }
                    .icon-selected {
                        color: white;
                    }
                }
                div.list-type-item:hover {
                    background-color: #F3F2F2;
                }
                .item-selected {
                    background-color: #039BE5 !important;
                }
            }
        }
        div.manage-bar{
            border-bottom: 1px solid #E0E0E0; 
        }
        div.list-content{
            // width: 100%;
            // height: 100%;
            overflow-y: auto;
        }
        .hidden{
            display: none;
        }
    }
}