<div class="list-container" fxLayout='row' fxLayoutAlign='none stretch'>
  <div fxFlex='55px' class="list-type">
    <div class="list-type-container">
      <div class="list-type-item">
        <mat-icon class="list-type-item-icon">developer_board</mat-icon>
      </div>
      <div class="list-type-item">
        <mat-icon class="list-type-item-icon">view_headline</mat-icon>
      </div>
      <div class="list-type-item">
         <mat-icon class="list-type-item-icon">healing</mat-icon>
      </div>
    </div>
  </div>
  <div fxFlex></div>
</div>