<div class="list-container" fxLayout='row' fxLayoutAlign='none stretch'>
  <div fxFlex='55px' class="list-type">
    <div class="list-type-container">
      <div class="list-type-item" appPakcageDetailGroupDetailListPanel fid='GroupsMap' (onSelected)='panelSelect($event)'>
        <mat-icon class="list-type-item-icon" [class.icon-selected]='selectedPanel=="GroupsMap"'>developer_board</mat-icon>
      </div>
      <div class="list-type-item" appPakcageDetailGroupDetailListPanel fid='ProductCategoryMap' (onSelected)='panelSelect($event)'>
        <mat-icon class="list-type-item-icon" [class.icon-selected]='selectedPanel=="ProductCategoryMap"'>view_headline</mat-icon>
      </div>
      <div class="list-type-item" appPakcageDetailGroupDetailListPanel fid='MaterialMap' (onSelected)='panelSelect($event)'>
        <mat-icon class="list-type-item-icon" [class.icon-selected]='selectedPanel=="MaterialMap"'>healing</mat-icon>
      </div>
    </div>
  </div>
  <div fxFlex fxLayout='column' fxLayoutAlign='none stretch'>
    <div class="manage-bar" fxFlex='40px' fxLayout='row' fxLayoutAlign='end center'>
      <button mat-icon-button (click)='addItem()'>
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="list-content" fxFlex>
      <app-package-detail-group-list-group-maps *ngIf='selectedPanel=="GroupsMap"'></app-package-detail-group-list-group-maps>
      <app-package-group-list-category-maps *ngIf='selectedPanel=="ProductCategoryMap"'></app-package-group-list-category-maps>
    </div>
  </div>
</div>