<div class="fxLayout-container" fxLayout='column'>
    <!--header-->
    <div class="panel-header" fxFlex='55px'>
      <div class="fxLayout-container" fxLayout='row' fxLayoutAlign='space-between center'>
        <div>
          <span class="panel-header-title">{{'tips.EditProductSpecCategory'|translate}}</span>
        </div>
        <div>
          <button mat-button class="mat-icon-button" (click)='closeDialog()'>
            <mat-icon class="operate-button-icon">close</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!--/header-->
  
    <!--content-->
    <div class="panel-content" fxFlex>
      <div class="fxLayout-container" fxLayout='row'>
        <div fxFlex='250px'>
          <app-product-category-list [categories]='mainCategories' [type]='categoryType' [parentId]='parentId' [organizationId]='organizationId'
            (onCategorySelected)='onMainCategorySelect($event)' [title]="'glossary.ProductMainCategory'|translate" [brief]='brief'
            #mainCategoryList></app-product-category-list>
        </div>
        <div fxFlex>
          <ng-template #categoryPanel></ng-template>
        </div>
      </div>
    </div>
    <!--/content-->
  
    <!--footer-->
    <div class="panel-footer" fxFlex='45px'>
      <div class="fxLayout-container" fxLayout='row' fxLayoutAlign='end center'>
        <div fxFlex>
          {{'tips.CurrentSelectd'|translate}}:&nbsp;&nbsp;{{userSelectCate?.name}}
        </div>
        <div>
          <button (click)='onClear()' mat-button>{{'button.Clear'|translate}}</button>
        </div>
        <div>
          <button (click)='submit()' mat-button>{{'button.Select'|translate}}</button>
        </div>
      </div>
    </div>
    <!--/footer-->
  </div>