<div class="content-container customized-scroller">

    <ng-container [ngSwitch]='mdSrv.displayMode'>
        <app-commom-paging-table-list-content *ngSwitchCase='"table"'>
        </app-commom-paging-table-list-content>
        <app-commom-paging-litimg-list-content *ngSwitchCase='"litimg"'></app-commom-paging-litimg-list-content>
        <app-commom-paging-card-list-content *ngSwitchCase="3"></app-commom-paging-card-list-content>
        <app-commom-paging-product-replace-group-list-content *ngSwitchCase='"product-replace-group"'></app-commom-paging-product-replace-group-list-content>
        <ng-container *ngSwitchDefault></ng-container>
    </ng-container>

</div>