<div class="tpls-container">
  <div class="tpls-header">
    <div class="header-wrap">
      <div class="page-icon-wrap">
        <mat-icon class="page-icon cus-header-icons animated fadeIn">{{icon?icon:'shopping_basket'}}</mat-icon>
        <span class="page-icon-title animated flipInX">{{title|translate}}</span>
      </div>
    </div>
    <div class="page-manage-buttons">
      <app-v1-dy-list-page-tpls-o-manage-buttons></app-v1-dy-list-page-tpls-o-manage-buttons>
    </div>
  </div>
  <div class="tpls-content">
    <div class="content-wrap">
      <div class="paginator-container">
        <app-v1-dy-list-page-tpls-o-content></app-v1-dy-list-page-tpls-o-content>
      </div>
      <div class="paginator-bar">
        <app-v1-dy-list-page-tpls-o-paginator-bar></app-v1-dy-list-page-tpls-o-paginator-bar>
      </div>
    </div>
  </div>
</div>
<div class="tpls-header-bk"></div>