:host {
    .page-container {
        width: 100%;
        height: 100%;
        .page-sidenav {}
        .page-sidenav-content {
            display: flex;
            flex-flow: column;
            width: 100%;
            height: 100%;
            div.header {
                width: 100%;
                height: 4rem;
                z-index: 9999;
                box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
            }
            div.content {
                flex: 1 1 0;
                width: 100%;
                position: relative;
                div.content-wrap {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }
            }
            div.footer {}
        }
    }
}