<mat-drawer-container class="page-container" autosize>

  <mat-drawer #drawer class="page-sidenav" mode="over">
    <!-- <app-nav></app-nav> -->
    <app-navs *ngIf='!outletMaximize'></app-navs>
  </mat-drawer>

  <div class="page-sidenav-content">
    <div class="header" *ngIf='!outletMaximize'>
      <app-tool-bar></app-tool-bar>
    </div>
    <div class="content">
      <div class="content-wrap cus-scroller">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="footer"></div>
  </div>

</mat-drawer-container>