:host {
    div.header {
        // line-height: 80px;
    }
    div.left-category-content {
        width: 100%;
        height: 100%;
    }
    div.category-form-container {
        margin: 10px;
        display: flex;
        flex-direction: column;
    }
    div.category-form-container * {
        width: 100%;
    }
}