:host {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    box-sizing: border-box;
    div.list-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        div.manage-bar {
            flex: 0 1 80px;
            height: 0;
            background: url('/assets/images/backgrounds/dark-material-bg.jpg');
            background-size: 100% 100%;
            border: 0 !important;
            background-color: gray;
            display: flex;
            flex-flow: column;
            position: relative;
            .panel-close-btn {
                position: absolute;
                right: 0;
                top: 0;
                color: white;
            }
            .category-header-title {
                flex: 1 1 auto;
                color: white;
                text-align: center;
                line-height: 55px;
            }
            .op-buttons {
                flex: 0 1 25px;
                height: 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .operate-button {
                    width: 25px !important;
                    height: 25px !important;
                    line-height: 25px !important;
                    padding: 0 !important;
                    margin: 0 !important;
                }
                .operate-button-icon {
                    color: white;
                }
            }
        }
        div.list-content {
            flex: 1 1 auto;
            height: 0;
            div.category-item {
                width: 100%;
                height: 50px;
                line-height: 50px;
                border-bottom: 1px solid #DCDCDC;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                box-sizing: border-box;
                padding: 0 15px;
                &:hover {
                    background-color: #F6F6F6;
                    cursor: pointer;
                }
                img.cate-icon {
                    width: 15px;
                    height: 15px;
                }
                p.cate-title {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    box-sizing: border-box;
                    padding: 0 0 0 5px;
                }
            }
            div.category-item-actived {
                background-color: #039BE5 !important;
                color: white;
            }
        }
    }
}