<div class="time-container">
  <div class="time-title">
    <mat-icon class="animated infinite jello">alarm</mat-icon>
    <span>{{title}}</span>
    <div>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span class="time-show-part">{{showTimePart(hours)}}</span>
      <span class="time-divid-part">:</span>
      <span class="time-show-part">{{showTimePart(minutes)}}</span>
      <span class="time-divid-part">:</span>
      <span class="time-show-part">{{showTimePart(seconds)}}</span>
    </div>
  </div>
</div>