<div class="page-layout carded left-sidenav single-scroll page-container" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <mat-sidenav-container>

    <!-- SIDENAV -->
    <mat-sidenav class="sidenav" align="start" opened="true" mode="side" fuseMatSidenavHelper="carded-left-sidenav" mat-is-locked-open="gt-md">

      <!-- SIDENAV HEADER -->
      <div class="header p-24" ngClass="mat-accent-bg" ngClass.gt-md="white-fg">
        <h2>{{categoryName|translate}}</h2>
      </div>
      <!-- / SIDENAV HEADER -->

      <!-- SIDENAV CONTENT -->
      <div class="content left-sidenav-container" fusePerfectScrollbar>
        <ng-content></ng-content>
      </div>
      <!-- / SIDENAV CONTENT -->

    </mat-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div class="center">

      <!-- CONTENT HEADER -->
      <div class="header white-fg" fxLayout='row wrap' fxLayoutAlign='space-between center'>
        <div class="page-icon-wrap">
          <button mat-button class="mat-icon-button sidenav-toggle" fuseMatSidenavToggler="carded-left-sidenav" fxHide.gt-md>
            <mat-icon>menu</mat-icon>
          </button>
          <mat-icon class="page-icon cus-header-icons">{{launch.titleIcon?launch.titleIcon:'shopping_basket'}}</mat-icon>
          <span class="page-icon-title">{{launch.title|translate}}</span>
        </div>
        <div>
          <app-paginator-page-manage-button></app-paginator-page-manage-button>
        </div>
      </div>
      <!-- / CONTENT HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg">
        <div class="fxLayout-container" fxLayout='column'>
          <div class="content-wrapper" fxFlex>
            <div class="paging-content-container">
              <app-paginator-paging-content></app-paginator-paging-content>
            </div>
          </div>
          <div fxFlex='65.5px'>
            <app-paginator-paging-bar></app-paginator-paging-bar>
          </div>
        </div>
      </div>
      <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

  </mat-sidenav-container>

</div>