:host {
    display: block;
    width: 100%;
    height: 100%;
    div.container {
        width: 100%;
        height: 100%;
        display: flex;
        div.left-category {
            flex: 0 1 220px;
            height: 100%;
        }
        div.select-panel {
            flex: 1 1 auto;
            height: 100%;
            max-width: 630px;
        }
    }
}