<page-plate-simple-confirm-dialog [enableConfirm]='enableConfirm' [dialogTitle]='"dialog.ResetPassword"' (afterConfirm)='afterConfirm()'
  (afterReceiveData)='afterReceiveData($event)'>
  <div class="container">
    <form name="detailForm" [formGroup]="detailForm">
      <input type="hidden" formControlName='userId' name='userId'>
      <mat-form-field>
        <input matInput type="password" name="password" formControlName="password" placeholder="{{'glossary.Password'|translate}}"
          autocomplete="new-password" required>
        <mat-error *ngIf="detailForm.get('password').hasError('maxlength')">{{'message.MaxLengthError'|translate}}</mat-error>
        <mat-error *ngIf="detailForm.get('password').hasError('required')">{{'message.RequiredError'|translate}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="{{'glossary.ConfirmPassword'|translate}}"
          autocomplete="new-password" required>
        <mat-error *ngIf="detailForm.get('confirmPassword').hasError('maxlength')">{{'message.MaxLengthError'|translate}}</mat-error>
        <mat-error *ngIf="detailForm.get('confirmPassword').hasError('required')">{{'message.RequiredError'|translate}}</mat-error>
      </mat-form-field>
      <p class="not-same-pwd" *ngIf='confirmPasswordNotSame'>{{'tips.ConfirmPasswordMustSame'|translate}}</p>
    </form>
  </div>
</page-plate-simple-confirm-dialog>