:host {
    div.container {
        width: 100%;
        width: 100%;
        padding: 1rem 1.5rem;
        form {
            display: block;
            width: 100%;
            &>* {
                width: 100%;
            }
            p.not-same-pwd {
                color: red;
                text-align: right;
            }
        }
    }
}