@import "src/app/core/scss/fuse";
:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
    .sidenav-content {
        display: flex;
        flex-direction: column;
        padding: 0;
        @include media-breakpoint(gt-sm) {
            padding: 24px 4px 24px 24px;
        }
        .card {
            display: flex;
            flex-direction: column;
            flex: 0 1 auto;
            padding: 0;
            @include media-breakpoint(gt-sm) {
                @include mat-elevation(4);
            }
            >.header {
                height: 110px !important;
                min-height: 110px !important;
                flex: 0 1 auto;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            }
            >.content {
                flex: 0 1 auto;
            }
            >.admin-avatar {
                padding: 0 !important;
            }
        }
    }
    .admin-avatar-icon {
        font-size: 50px;
        height: 50px;
        width: 50px;
        margin: 0;
        padding: 0;
    }
}