:host {
    display: block;
    width: 100%;
    height: 100%;
    div.map-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        div.map-container {
            width: 360px;
            height: 325px;

            .group-img{
                width: 100px;
                height: 100px;
                
            }
        }
    }
}