<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/app/organ'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <!-- <img *ngIf="product.images[0]" [src]="product.images[0].url">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'"> -->

                    <img [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{organ?.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        {{'glossary.Organ'|translate}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{organ?.name}}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" [disabled]="productForm.invalid" *ngIf="pageType ==='new'"
                (click)="addProduct()">
                <span>ADD</span>
            </button> -->

            <!-- <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" [disabled]="productForm.invalid || productForm.pristine"
                *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>SAVE</span>
            </button> -->
            <!-- <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>{{'button.Save'|translate}}</span>
            </button> -->

            <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" *ngIf="!organForm.invalid || !organForm.pristine"
                (click)="saveOrgan()" [disabled]="organForm.invalid || organForm.pristine">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content h-100-p">

                <form name="organForm" [formGroup]="organForm" fxLayout="column" fxFlex>
                    <input type="hidden" formControlName='id' name='id'>
                    <mat-tab-group class="h-100-p" [dynamicHeight]='false'>
                        <mat-tab label="{{'glossary.BasicInfo'|translate}}">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field class="w-100-p">
                                    <input matInput name="name" formControlName="name" placeholder="{{'glossary.OrganName'|translate}}" required>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <textarea matInput name="description" formControlName="description" placeholder="{{'glossary.OrganDescription'|translate}}"
                                        rows="5">
                                            </textarea>
                                </mat-form-field>
                            </div>
                        </mat-tab>

                        <mat-tab label="{{'glossary.OrganDepartment'|translate}}">
                            <!-- <app-organ-department></app-organ-department> -->
                            <!-- <div style="width:100%;height: 100%;background-color: blue;">asdfds</div> -->
                        </mat-tab>
                    </mat-tab-group>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>