:host {
    display: block;
    width: 100%;
    height: 100%;
    div.login-container {
        // display: flex;
        width: 100%;
        height: 100%;
        background-color: #F4F6F9;
        div.main-container {
            div.main-wrap {
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                div.logo-container {
                    width: 100%;
                    height: 135px;
                    &>img {
                        width: 180px;
                        height: 113px;
                        display: block;
                        margin: auto;
                    }
                }
                div.form-container {
                    width: 380px;
                    height: 335px;
                    border: 1px solid rgb(216, 221, 230);
                    border-radius: 4px;
                    padding: 1.25em;
                    box-sizing: border-box;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    background-color: #FFFFFF;
                    font-family: "Roboto";
                    font-weight: 400;
                    .login-form {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                    & span {
                        font-size: 12px;
                        color: #54698d;
                        // display: block;
                        // box-sizing: border-box;
                    }
                    input.input-ct {
                        width: 100%;
                        height: 42px;
                        border: 1px solid #D8DDE6;
                        border-radius: 4px;
                        font-size: 18px;
                        padding: 0 12px;
                        box-sizing: border-box;
                        background-color: white;
                        &:focus {
                            background-color: #ffffff;
                            border: 1px solid #1589ee;
                            outline: 0;
                            box-shadow: 0 0 3px #0070D2;
                        }
                    }
                    button.login-btn-ct {
                        width: 100%;
                        height: 42px;
                        border: 1px solid transparent;
                        border-radius: 4px;
                        background-color: #1c7ec3;
                        color: white;
                        &:hover {
                            cursor: pointer;
                            background-color: #0070d2;
                        }
                    }
                    div.remember-wrap {
                        display: flex;
                        justify-content: flex-start;
                        align-content: center;
                        &>label {
                            display: inline-block;
                            padding-left: 8px;
                            font-size: 12px;
                        }
                    }
                    div.pwd-op-container {
                        width: 100%;
                        border-top: 1px solid rgb(216, 221, 230);
                        padding-top: 8px;
                        box-sizing: border-box; 
                        &>a {
                            color: #0070d2;
                            text-decoration: none;
                            font-size: 12px;
                            margin: 0;
                            padding: 0;
                            &:link {
                                text-decoration: none;
                                color: #0070d2;
                            }
                            &:active {
                                text-decoration: none;
                                color: #0070d2;
                            }
                            &:hover {
                                text-decoration: none;
                                color: #0070d2;
                            }
                            &:visited {
                                text-decoration: none;
                                color: #0070d2;
                            }
                        }
                    }
                    span.login-tip {
                        display: block;
                        color: #C23934;
                        box-sizing: border-box;
                    }
                    .disable-login {
                        background-color: #E3E3E3 !important;
                        &:hover {
                            cursor: not-allowed !important;
                        }
                    }
                }
            }
        }
        div.ads-container {
            background-color: #D8DDE6;
        }
    }
}