<div class="map-container" fxLayout='row' fxLayoutAlign='start stretch'>
    <div fxFlex='200px'>
      <!-- <app-material-category-select-panel [addUnCategoryNode]='false' (onCategorySelect)='onCategorySelect($event)'></app-material-category-select-panel> -->
      <app-product-category-select-panel [addUnCategoryNode]='false' (onCategorySelect)='onCategorySelect($event)'></app-product-category-select-panel>
    </div>
    <div fxFlex>
      <app-common-icon-list [launch]='mdSrv' itemWidth='180' itemHeight='150' (onItemSelect)='onItemSelect($event)'></app-common-icon-list>
    </div>
  </div>