:host {
    width: 100%;
    height: 100%;
    display: block;
    div.bk-page-container {
        width: 100%;
        height: 100%;
        div.bk-page-header {
            width: 100%;
            background-image: url('/assets/images/backgrounds/header-bg.png');
            background-size: cover;
            background-color: #03a9f4;
            div.bk-page-icon-wrap {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                color: white;
                fill: white;
                .page-icon {
                    $size: 24px;
                    width: $size;
                    height: $size;
                    font-size: $size;
                    margin-left: 15px;
                }
                .page-icon-title {
                    font-size: 24px;
                    font-weight: 400;
                    margin-left: 12px;
                }
            }
            div.bk-page-icon-wrap>* {
                display: inline-flex;
                vertical-align: middle;
            }
        }
        div.bk-page-content {
            width: 100%;
            height: 100%;
            div.bk-content-container {
                width: 100%;
                height: 100%;
            }
        }
    }
}