<app-blank-common-tpls titleName='glossary.OrganAccounts' iconName='people'>
    <div class="content-container" fxLayout='row' fxLayoutAlign='none stretch'>
        <div fxFlex='240px'>
            <div class="card-container">
                <app-common-card-panel></app-common-card-panel>
            </div>
            <!-- <app-department-card></app-department-card> -->

        </div>
        <div fxFlex>
            <!-- <app-account-list></app-account-list> -->
        </div>
    </div>
</app-blank-common-tpls>