<app-blank-common-tpls titleName='glossary.OrganAccounts' iconName='people'>
    <div class="content-container" fxLayout='row' fxLayoutAlign='none stretch'>
        <div class="card-container" fxFlex='240px'>
            <app-common-card-panel [launch]='cardMdSrv'></app-common-card-panel>
        </div>
        <div class="accounts-container" fxFlex>
            <app-common-simple-table-list [launch]='accountMdSrv'></app-common-simple-table-list>
        </div>
    </div>
</app-blank-common-tpls>