<app-blank-common-tpls titleName='glossary.OrganAccounts' iconName='people'>
    <div class="content-container" fxLayout='row' fxLayoutAlign='none stretch'>
        <div fxFlex='240px'>
            <!-- <app-department-card></app-department-card> -->
        </div>
        <div fxFlex>
           <!-- <app-account-list></app-account-list> -->
        </div>
        <div fxFlex='76px' fxLayout='row' fxLayoutAlign='center end'>
            <button mat-fab class="mat-accent-bg" aria-label="add contact" style="margin-bottom: 10px;">
                <mat-icon>person_add</mat-icon>
            </button>
        </div>
    </div>
</app-blank-common-tpls>