
<div class="page-layout carded fullwidth single-scroll" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header white-fg p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2>ORDERS</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <button mat-button class="mat-icon-button sidenav-toggle"
                        fuseMatSidenavToggler="carded-right-sidenav"
                        fxHide.gt-md>
                    <mat-icon>menu</mat-icon>
                </button>

                <span>Content toolbar</span>
            </div>
            <!-- / CONTENT TOOLBAR -->
            
        <div class="content p-24" fusePerfectScrollbar>

            <mat-table class="orders-table" #table [dataSource]="items" fusePerfectScrollbar>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">{{order.id}}</p>
                    </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>State</mat-header-cell>
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
                        <p class="text-truncate">
                            {{order.state}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="content">
                    <mat-header-cell *matHeaderCellDef>Content</mat-header-cell>
                    <mat-cell *matCellDef="let order">
                        <p class="status text-truncate h6 p-4">
                            {{order.content}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="stateTime">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>StateTime</mat-header-cell>
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
                        <p class="text-truncate">
                            {{order.stateTime}}
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let order; columns: displayedColumns;"
                         class="order"
                         matRipple
                         [routerLink]="'/pages/orders/'+order.id">
                </mat-row>
            </mat-table>

        </div>
        
        <div class="px-24 py-8">
            <paginator #page (onLoad)="loadPage($event)"></paginator>
        </div>

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
