<div class="cus-card content-container" fxLayout='column'>
    <div fxFlex='15px'>
    </div>
    <div fxFlex>
      <div style="position: relative;height: 100%;">
        <div class="products-table">
          <icon-item *ngFor="let item of productItems" [Id]='item.id' [Name]='item.name' [Description]='item.description' [Icon]='item.icon?pathSrv.redirectServerUrl(item.icon):"/assets/images/place-holder/product.jpg"'
            [SelectMode]='isSelectMode' [Selected]='allSelect' [LinkPath]="'/app/material-detail/'" (OnCheckChange)='onItemCheckchange($event)'></icon-item>
        </div>
      </div>
    </div>
    <div class="paginator-container" fxFlex='65.5px' fxLayout='row' fxLayoutAlign='center center'>
      <div fxFlex='150px' fxFlexOffset='15px'>
        <mat-checkbox *ngIf='isSelectMode' (change)='selectAll($event)'>All</mat-checkbox>
      </div>
      <div fxFlex>
        <mat-paginator #paginator [length]="0" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]='true'>
        </mat-paginator>
      </div>
    </div>
  </div>