<div class="nav-container" [class.min-nav]='collapsed'>
  <div class="toolbar" [class.center-me]='collapsed'>
    <img class="app-logo" [class.hide-me]='collapsed' src="/assets/images/logo/dmz-logo.png" alt="">
    <p class="app-title" [class.hide-me]='collapsed'>{{appName}}</p>
    <button mat-icon-button (click)='toggleNav()'>
      <mat-icon>{{collapsed?'arrow_forward':'menu'}}</mat-icon>
    </button>
  </div>
  <div class="routers cus-scroller">
    <ng-container *ngFor='let grp of navs|async'>
      <p class="group-nav-title" [class.center-me]='collapsed'>{{ !collapsed?(grp.title|translate):'▁▁▁'}}</p>
      <ng-container *ngFor='let lk of grp.children'>
        <app-router-link [icon]='lk.icon' [title]='lk.title' [url]='lk.url' [children]='lk.children' [collapsed]='collapsed' (onRouteChange)='onRouteChange($event)'></app-router-link>
      </ng-container>
    </ng-container>
  </div>
</div>