<div class="item-container" fxLayout='row' fxLayoutAlign='start center'>
  <div class="icon-container">
    <img [src]='defaultItem?.icon'>
  </div>
  <div class="detail-container" fxFlex>
    <app-package-detail-group-list-replace-item-detail *ngFor='let item of  items;let idx=index' [itemName]='item.name' [isDefault]='idx==0'
      (onDeleteItem)='_deleteDetailItem($event)' (onSettingItem)='_onSettingDetailItem($event)'></app-package-detail-group-list-replace-item-detail>
  </div>
  <div>
    <button mat-icon-button (click)='_deleteItem()'>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>