:host {
    display: block;
    width: 100%;
    div.item-container {
        width: 100%;
        min-height: 75px;
        box-sizing: border-box;
        border-bottom: 1px solid #E0E0E0;
        display: flex;
        flex-flow: column;
        position: relative;
        div.detail-container {
            flex: 1 1 auto; // background-color: orange;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 5px 8px;
            div.item-cbox {
                margin: 0 10px;
            }
            img.item-icon {
                width: 50px;
                height: 50px;
            }
            p.item-title {
                // display: inline-block;
                // box-sizing: border-box;
                padding: 0 8px;
            }
            div.list-container {
                flex: 1 1 auto;
                height: 42px;
                overflow: hidden;
            }
            div.un-collapsed {
                height: auto !important;
                overflow: auto !important;
            }
        }
        .collapse-btn {
            width: 24px;
            height: 24px;
            margin-right: 3px;
            position: absolute;
            bottom: 0;
            right: 3px;
        }
        &:hover {
            background-color: #EEEEEE !important;
        }
    }
}