:host {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: block;
    box-sizing: border-box;
    div.page-container {
        display: flex;
        flex-direction: column;
    }
    div.page-container>* {
        width: 100%;
    }
}