:host {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 7px;
    padding-top: 7px;
    div.item-container {
        height: 34px;
        line-height: 34px;
        background-color: #E0E0E0;
        display: inline-block;
        box-sizing: border-box;
        padding: 0 10px;
        border-radius: 17px;
        &>div {
            display: inline-block;
        }
        div.setting-container {
            mat-icon {
                min-width: 15px;
                min-height: 15px;
                font-size: 16px;
                margin: 0;
                padding: 0;
                width: 16px;
                height: 16px;
                line-height: 16px;
                color: white;
                border-radius: 7px;
                margin-top: 9.5px;
                cursor: pointer;
                &:hover {
                    color: #039BE5;
                }
            }
            .default-item{
                color: #1AAA55;
            }
        }
        div.clear-container {
            mat-icon {
                min-width: 15px;
                min-height: 15px;
                font-size: 15px;
                margin: 0;
                padding: 0;
                width: 15px;
                height: 15px;
                line-height: 15px;
                color: white;
                border-radius: 7px;
                background-color: #929292;
                margin-top: 9.5px;
                cursor: pointer;
                &:hover {
                    background-color: #5A5A5A;
                }
            }
        }
    }
}