<div class="tpls-container">
  <div class="tpls-header">
    <div class="header-wrap">
      <div class="page-icon-wrap">
        <mat-icon class="page-icon cus-header-icons animated fadeIn">{{launch?.titleIcon?launch.titleIcon:'shopping_basket'}}</mat-icon>
        <span class="page-icon-title animated flipInX">{{launch?.title|translate}}</span>
      </div>
    </div>
    <div class="page-manage-buttons">
      <app-paginator-page-manage-buttons></app-paginator-page-manage-buttons>
    </div>
  </div>
  <div class="tpls-content">
    <div class="content-wrap">
      <div class="paginator-container">
        <app-paginator-paging-content></app-paginator-paging-content>
      </div>
      <div class="paginator-bar">
        <app-paginator-paging-bar></app-paginator-paging-bar>
      </div>
    </div>
  </div>
</div>
<div class="tpls-header-bk"></div>