<div class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">
        <h2>ICONS</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24 mat-white-bg">

        <div fxLayout="row wrap" fxLayoutAlign="start start">
            <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let name of icons" class="iconcard">                
                <div class="icon">
                        <mat-icon>{{name}}</mat-icon>
                </div>
                <p>{{name}}</p>
            </div>
        </div>

    </div>
    <!-- / CONTENT -->

</div>
