<div class="table-container">
  <mat-table #paginatorTable [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <ng-container *ngFor="let column of columns" [cdkColumnDef]="column._columnDef?column._columnDef:column.columnDef">
          <ng-container *ngIf='column.columnDef=="select"'>
              <mat-header-cell *cdkHeaderCellDef fxFlex="55px"></mat-header-cell>
              <mat-cell *cdkCellDef="let row" fxFlex="55px">
                  <mat-checkbox [checked]='allSelected||row.select' (change)='onCheckBoxSelect(cbox.checked,row.id)' (click)='$event.stopPropagation()'
                      #cbox>
                  </mat-checkbox>
              </mat-cell>
          </ng-container>

          <ng-container *ngIf='column.columnDef=="seqno"'>
              <mat-header-cell *cdkHeaderCellDef fxFlex="50px">{{'glossary.SeqNO'|translate}}</mat-header-cell>
              <mat-cell *cdkCellDef="let row" fxFlex="50px">
                  {{row.seqno}}
              </mat-cell>
          </ng-container>

          <ng-container *ngIf='column.columnDef=="icon"'>
              <mat-header-cell *cdkHeaderCellDef fxFlex="84px">{{'glossary.Icon'|translate}}</mat-header-cell>
              <mat-cell *cdkCellDef="let row" fxFlex="84px">
                  <img class="listable-icon" [src]="row.icon?(row.icon|serverRedirect:128):'assets/images/common/image-placeholder.png'">
              </mat-cell>
          </ng-container>

          <ng-container *ngIf='column.columnDef!="select"&&column.columnDef!="seqno"&&column.columnDef!="icon"&&column.columnDef!="button"'>
              <mat-header-cell *cdkHeaderCellDef mat-sort-header [fxFlex]="column.width>0?column.width+'px':''">{{ column.header|translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let row" [fxFlex]="column.width>0?column.width+'px':''">{{ column.translate? (column.cell(row)|translate):column.cell(row) }}</mat-cell>
          </ng-container>

          <ng-container *ngIf='column.columnDef=="button"'>
              <mat-header-cell *cdkHeaderCellDef fxFlex="50px">{{'glossary.Manage'|translate}}</mat-header-cell>
              <mat-cell *cdkCellDef="let row" fxFlex="50px">
                  <button mat-icon-button [matMenuTriggerFor]="itemManageMenu" (click)="$event.stopPropagation()">
                      <mat-icon>{{launch.itemManageMenu.icon?launch.itemManageMenu.icon:'more_horiz'}}</mat-icon>
                  </button>

                  <mat-menu #itemManageMenu="matMenu">
                      <button mat-menu-item *ngFor='let menuitem of launch.itemManageMenu.items' (click)='menuitem.click(row)'>
                          <mat-icon>{{menuitem.icon}}</mat-icon>
                          <span>{{menuitem.name|translate}}</span>
                      </button>
                  </mat-menu>
              </mat-cell>
          </ng-container>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"
          (click)="row.highlighted = !row.highlighted;_selectMode?(row.select=!row.select):row.select=false;gotoDetail(row.id);"
          (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
  </mat-table>
</div>