:host {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    div.tpls-container {
        width: 100%;
        height: 100%;
        div.tpls-header {
            z-index: 2;
            div.header-wrap {
                color: white !important;
                fill: white !important;
                display: flex;
                flex-flow: row;
                align-items: center;
                padding-left: 12px;
                button.goback-btn{
                    margin-right: 12px !important;
                }
                div.detail-image {
                    width: 56px;
                    height: 56px;
                    box-sizing: border-box;
                    border: 3px solid rgba(0, 0, 0, .12);
                    &>img {
                        width: 50px;
                        height: 50px;
                    }
                }
                div.detail-title {
                    display: flex;
                    height: 50px;
                    flex-flow: column;
                    justify-content: space-between;
                    font-family: "Roboto";
                    color: rgb(255, 255, 255);
                    font-weight: 400;
                    letter-spacing: -0.1px;
                    margin-left: 16px;
                    span.primary-title {
                        font-size: 20px;
                        line-height: 28px;
                    }
                    span.sub-title {
                        font-size: 14px;
                        line-height: 19.6px;
                        color: hsla(0,0%,100%,.7)!important;
                    }
                }
            }
        }
        div.tpls-content {
            z-index: 2;
            box-sizing: border-box;
            padding: 0 20px;
            // background-color: orange;
            div.content-wrap {
                width: 100%;
                height: 100%;
                background-color: white;
                box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
                box-sizing: border-box;
                position: relative;
                // div.paginator-container {
                //     width: 100%;
                //     height: 100%;
                //     background-color: orange;
                //     overflow-y: auto;
                // }
            }
            div.mat-tab-cus-wrapper{
                width: 100%;
                height: 100%;
            }
        }
    }
    div.tpls-header-bk {
        width: 100%;
        height: 200px;
        background-color: #03a9f4;
         background-image: url('/assets/images/backgrounds/header-bg.png');
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}