<div fxLayout="row" fxLayoutAlign="center center" >
    <button mat-button (click)="firstPage()"><mat-icon>arrow_back</mat-icon></button>
    <button mat-button (click)="previousPage()"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button mat-button disabled>{{curPage}} / {{totalPages}}</button>
    <mat-select [(ngModel)]="pageSize" class="sizeopt" placeholder="page size" (selectionChange)="updatePages(true)">
        <mat-option *ngFor="let opt of pageSizeOptions" [value]="opt">{{opt}}</mat-option>
      </mat-select>
    <button mat-button (click)="nextPage()"><mat-icon>keyboard_arrow_right</mat-icon></button>
    <button mat-button (click)="lastPage()"><mat-icon>arrow_forward</mat-icon></button>
</div>