<div class="item-container">
  <div fxLayout='column'>
    <button mat-button class="item-button" (click)='onClick()'>
      <div class="image-container">
        <img class="title-img" src="{{Icon}}" alt="{{Description}}">
      </div>
    </button>
    <div fxFlex='38px' fxLayout='row' fxLayoutAlign='center center'>
      <div fxFlexOffset='15px' [style.display]='SelectMode?"inline-block":"none"'>
        <mat-checkbox color="primary" [checked]='Selected' (change)='selectedChange(cbox.checked)' #cbox></mat-checkbox>
      </div>
      <div fxFlex style="text-align: center;">
        <span class="title-text" title="{{Id}} {{Name}}">{{Name}}</span>
      </div>
    </div>
  </div>
</div>