:host {
    display: block;
    width: 100%;
    height: 75px;
    div.item-container {
        width: 100%;
        height: 75px;
        box-sizing: border-box;
        padding: 5px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E0E0E0;
        &:hover {
            cursor: pointer;
            background-color: #F6F6F6;
        }
        img.item-icon {
            display: inline-block;
            width: 60px;
            height: 60px;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            margin-left: 20px;
            max-width: 60px;
        }
        p.item-title {
            margin-left: 15px;
            max-width: 100px;
            max-height: 40px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        p.item-desciption {
            margin-left: 15px;
            max-height: 40px;
            max-width: 420px;
            box-sizing: border-box;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    div.item-selected {
        background-color: #EEEEEE !important;
    }
}