:host {
    width: 100%;
    height: 100%;
    display: block;
    div.item-container {
        div.form-field-wrap>* {
            width: 100%;
        }
        .item-input-field {
            width: 100%;
            position: relative;
            top: 4px;
            border: 1px solid dashed;
        }
        .item-input-field>* {
            width: 100%;
        }
    }
}