<form [formGroup]="detailForm">
  <input type="hidden" formControlName="mediaId">
  <input type="hidden" formControlName="id">
  <input type="hidden" formControlName="type">
  <div class="item-container" fxLayout='row' fxLayoutAlign='center center' fxLayoutGap='25px'>
    <div fxFlex='20%' class="form-field-wrap">
      <mat-form-field>
        <input matInput placeholder="{{'glossary.Name'|translate}}" formControlName="name" required>
      </mat-form-field>
    </div>
    <div fxFlex='20%'>
      <mat-form-field>
        <input matInput [matDatepicker]="startTimePicker" formControlName="startShareTimeStamp" placeholder="{{'glossary.StartShareTime'|translate}}">
        <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
        <mat-datepicker #startTimePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex='20%'>
      <mat-form-field>
        <input matInput [matDatepicker]="stopTimePicker" formControlName="stopShareTimeStamp" placeholder="{{'glossary.StopShareTime'|translate}}">
        <mat-datepicker-toggle matSuffix [for]="stopTimePicker"></mat-datepicker-toggle>
        <mat-datepicker #stopTimePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex='20%'>
      <mat-form-field>
        <input matInput placeholder="{{'glossary.Password'|translate}}" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="viewPassword()">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex='20%' fxLayout='row' fxLayoutAlign='end center'>
      <div></div>
      <div>
        <button mat-icon-button (click)='save()' matTooltip="{{'button.Edit'|translate}}">
          <mat-icon style="color: #007ACC;">
            {{editMode?'save':'edit'}}
          </mat-icon>
        </button>
      </div>
      <div>
        <button mat-icon-button (click)='delete()' matTooltip="{{'button.Delete'|translate}}">
          <mat-icon style="color: red;">delete</mat-icon>
        </button>
      </div>
      <div>
        <button mat-icon-button (click)='viewShare()' matTooltip="{{'button.Open'|translate}}">
          <mat-icon>timeline</mat-icon>
        </button>
      </div>
    </div>
  </div>
</form>