// Import Fuse main library
@import "app/core/scss/core";
.mat-tab-body-wrapper {
    height: 100% !important;
}

.mat-dialog-container {
    padding: 0 !important;
}

.mat-tab-body {
    padding: 0 15px;
}

.primary-title {
    display: block;
    font-size: 34px;
}

.sub-title {
    display: block;
    font-size: 24px;
}

.fxLayout-container {
    width: 100%;
    height: 100%;
}