// Import Fuse main library
@import '~material-design-icons/iconfont/material-icons.css';
@import "app/core/scss/core";
.mat-tab-body-wrapper {
    height: 100% !important;
}

.mat-paginator-page-size-select {
    margin: 0 4px 0 4px !important;
}

.mat-dialog-container {
    padding: 0 !important;
}

.mat-tab-body {
    padding: 0 0;
}

.mat-tab-group,
.mat-tab-body-wrapper,
.tab-content {
    flex: 1 1 auto;
    max-width: 100%;
}

.mat-tab-body-content {
    display: flex;
}

.mat-tab-label {
    height: 64px;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
    line-height: 28px !important;
}

.mat-menu-item .mat-icon {
    padding: 0 !important;
    margin: 0 !important;
}

.mat-header-row {
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: inherit;
}

.mat-row.hovered {
    background: #eee;
}

.mat-row.highlighted {
    background: #eee;
}

/*
    This is a work around for checkbox bug in material row
    https://github.com/angular/material2/issues/8600
  */

mat-cell.mat-cell,
mat-header-cell.mat-header-cell {
    overflow: visible;
}

/******************************************************/

.primary-title {
    display: block;
    font-size: 34px;
}

.sub-title {
    display: block;
    font-size: 24px;
}

.listable-icon {
    width: 50px;
    height: 50px;
    margin: 5px; // border-radius: 25px;
}

.fxLayout-container {
    width: 100%;
    height: 100%;
}

.cus-header-icons {
    color: white;
    fill: white;
}

.cus-cancel-button {
    color: red;
}

.cus-confirm-button {
    color: green;
}

.cus-full-height {
    height: 100%;
}

.cus-manage-button {
    margin: 0 8px 0 0 !important;
    padding: 3px 5px !important;
    line-height: 28px;
    min-width: 0 !important;
}

div.cus-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cus-mat-button-icon {
    margin: 0;
    padding: 0;
}