html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.loading-container {
    width: 100%;
    height: 100%;
    background-color: #3C4252;
    display: flex;
    justify-content: center;
    align-items: center;
}

/************************导航栏滚动条定制*********************/

.nui-nav-scroll {
    /* overflow: hidden; */
    /* overflow: hidden !important; */
    overflow: auto;
}

/* .nui-nav-scroll:hover {
    overflow: auto;
} */

.nui-nav-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/*正常情况下滑块的样式*/

.nui-nav-scroll::-webkit-scrollbar-thumb {
    background-color: #A1A1A1;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

/*鼠标悬浮在该类指向的控件上时滑块的样式*/

.nui-nav-scroll:hover::-webkit-scrollbar-thumb {
    /* background-color: rgba(0, 0, 0, .2); */
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

/*鼠标悬浮在滑块上时滑块的样式*/

.nui-nav-scroll::-webkit-scrollbar-thumb:hover {
    /* background-color: rgba(0, 0, 0, .4); */
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

/*正常时候的主干部分*/

.nui-nav-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    /* background-color: rgba(45, 50, 62, .7); */
}

/*鼠标悬浮在滚动条上的主干部分*/

.nui-nav-scroll::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
    /* background-color: rgba(0, 0, 0, 1); */
    background-color: white;
}

/************************普通滚动条定制*********************/

.cus-scroller {
    /* overflow: hidden; */
    box-sizing: border-box;
    overflow-y: auto;
    /* background-color: gray; */
}

/* .cus-scroller:hover {
    overflow-y: auto !important;
} */

.cus-scroller::-webkit-scrollbar {
    width: 8px;
    height: 1px;
}

.cus-scroller::-webkit-scrollbar-thumb {
    background-color: #A1A1A1;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

.cus-scroller::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: rgba(218, 218, 218, .4);
}