:host {
    width: 100%;
    height: 100%;
    display: block;
    div.content-container {
        width: 100%;
        height: 100%;
        padding: 5px;
        box-sizing:border-box;
        display: flex;
        flex-flow: row;
        align-items: stretch;
        div.area-type-container {
            flex: 0 1 200px;
            height: 100%;
            // background-color: orange;
        }
        div.area-type-content-container {
            flex: 1 1 auto;
            height: 100%;
        }
    }
}