<div class="container">
  <form name="detailForm" [formGroup]="detailForm">
    <input type="hidden" formControlName='id' name='id'>

    <app-national-urban-select [provinceId]='defaultProvince' [cityId]='defaultCity' (urbanChange)='onUrbanChange($event)'></app-national-urban-select>

    <div class="bar">
      <button mat-button  [disabled]='!satisfyCommit' (click)='submit()' #submitBtn>
        <mat-icon>save</mat-icon>
        <span>{{'button.Save'|translate}}</span>
      </button>
    </div>
  </form>
</div>