:host {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    div.design-head {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 15px;
    }
    div.node-container {
        display: flex;
        flex-direction: column;
        & * {
            width: 100%;
        }
    }
    div.buttons-container {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
}