div.panel-container {
    /* background-color: gray; */
}

div.drag-zone {
    min-height: 120px;
    background-color: #F5F5F5;
    border: 1px dashed #B3B3B3;
    /* text-align: center;
    vertical-align: middle; */
    /* min-height: 120px; */
}

div.click-zone {
    min-height: 120px;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
}

div.button-zone {
    background-color: green;
}

table.file-table {
    width: 100%;
}

table.file-table tr {
    width: 100%;
}

table.file-table th,
td {
    text-align: left;
    /* font-size: 25px; */
}

.table-file-button {
    min-width: 0 !important;
    line-height: 18px !important;
    padding: 3px 5px !important;
}

.file-form-field {
    height: 30px !important;
}

.mat-form-field-infix {
    padding: 0 !important;
}

.file-op-button {
    min-width: 0 !important;
    padding: 0 8px !important;
}

.file-table-list-op-button {
    text-align: right !important;
}