<div fxLayout='row wrap' fxFill class="panel-container" fxLayoutAlign='center center'>
  <div fxFlex>
    <div fxLayout='column' fxFill fxLayoutAlign='stretch'>
      <!--file upload zone-->
      <div *ngIf='showUpload' class="drag-zone" ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
        [uploader]="uploader">
        <div class="click-zone" (click)='_onAddFiles()'>{{'tips.DragOrClickHere'|translate}}</div>
      </div>
      <!-- file download zone-->
      <div *ngIf='showDownload'>
        <table class="file-table">
          <thead>
            <tr>
              <th>{{'tips.Name'|translate}}</th>
              <th class="file-table-list-op-button">{{'tips.Action'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of downloadFiles">
              <td>
                {{ item.name }}
              </td>
              <td class="file-table-list-op-button">
                <button mat-button type="button" class="table-file-button" (click)='_onDownload(item.url)'>
                  {{'button.Download'|translate}}
                </button>
                <button mat-button type="button" class="table-file-button" (click)='_onDeleteFile(item.id,item.name)'>
                  {{'button.Delete'|translate}}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--file edit zone-->
      <div *ngIf='uploader?.queue?.length'>
        <!-- <div> -->
        <table class="file-table">
          <thead>
            <tr>
              <th>{{'tips.Name'|translate}}</th>
              <th>{{'tips.File'|translate}}</th>
              <th class="file-table-list-op-button">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td>
                <mat-form-field class="file-form-field">
                  <input matInput value="{{item?.file?.name|filename }}" dmzInputCt [ctIndentity]='item?.file?.name' (OnCtInit)='registryUploadFile($event)'
                    (OnCtChange)='registryUploadFile($event)'>
                </mat-form-field>
              </td>
              <td>
                {{ item?.file?.name }}
              </td>
              <td class="file-table-list-op-button">
                <button mat-button type="button" class="table-file-button" (click)="_onClear(item)">
                  {{'button.Clear'|translate}}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--button zone -->
      <div *ngIf='!showUpload' fxLayoutAlign='stretch'>
        <div fxLayout='row wrap' fxFill>
          <div fxFlex='100' *ngIf='!showDownload'>
            <div style="height:10px;"></div>
            <mat-progress-bar mode="determinate" value="{{uploader.progress}}"></mat-progress-bar>
          </div>
          <div fxFlex style="line-height:37px;">
            <span *ngIf='!disabledAddFile'>
              {{'tips.WaitUploadCount'|translate}}: {{ uploader?.queue?.length }}
            </span>
            <span>&nbsp;&nbsp;</span>
          </div>
          <div fxFlex='170px' style="text-align:right;">
            <button mat-button (click)='_onAddFiles()' class="file-op-button" [disabled]='disabledAddFile'>
              {{'button.Add'|translate}}
            </button>
            <button mat-button type="button" class="btn btn-danger btn-s" (click)="_onClear()" *ngIf='uploader?.queue?.length' class="file-op-button">
              <span class="glyphicon glyphicon-trash"></span>{{'button.Clear'|translate}}
            </button>
            <button mat-button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" class="file-op-button" *ngIf='uploader?.queue?.length'>
              <span class="glyphicon glyphicon-upload"></span>{{'button.Upload'|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="display: none;">
  <input type="file" ng2FileSelect [uploader]="uploader" multiple #fileInputCt />
</div>