<div class="design-head">
    <mat-icon>bookmark</mat-icon>
    <span>{{'tips.EditNavLink'|translate}}</span>
  </div>
<div class="node-container">
  <form name="detailForm" [formGroup]="detailForm">
    <input type="hidden" formControlName='permission' name='permission'>
    <mat-form-field>
      <input matInput name="value" formControlName="value" required placeholder="{{'glossary.Name'|translate}}">
      <mat-error *ngIf="detailForm.get('value').hasError('required')">{{'message.RequiredError'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="nameTranslateKey" formControlName="nameTranslateKey" required placeholder="{{'glossary.NameTranslateKey'|translate}}">
      <mat-error *ngIf="detailForm.get('nameTranslateKey').hasError('required')">{{'message.RequiredError'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="icon" formControlName="icon" required placeholder="{{'glossary.Icon'|translate}}">
      <mat-error *ngIf="detailForm.get('icon').hasError('required')">{{'message.RequiredError'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="url" formControlName="url" required placeholder="{{'glossary.Url'|translate}}">
      <mat-error *ngIf="detailForm.get('url').hasError('required')">{{'message.RequiredError'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let point of permissionPoints" (removed)="removePoint(point)">
          {{point}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="{{'glossary.Permission'|translate}}" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addPoint($event)">
      </mat-chip-list>
    </mat-form-field>

  </form>
</div>

<div class="buttons-container">
  <button mat-button [disabled]='detailForm.invalid' (click)="submit()">
    <mat-icon>save</mat-icon>
    <span>{{'button.Save'|translate}}</span>
  </button>
</div>