:host {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 25px;
    div.form-container {
        .field-prefix{
            margin-right: 5px;
        }
        & * {
            width: 100%;
        }
        .admin-type-field{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}