<div class="form-container">
  <form [formGroup]="accountForm">
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="type">
    <input type="hidden" formControlName="_isAdmin">

    <mat-form-field *ngIf='!isOwner'>
      <mat-select name="departmentId" formControlName="departmentId" placeholder="{{'glossary.OrganDepartment'|translate}}" required>
        <mat-option *ngFor="let dev of departments" [value]="dev.id">
          {{ dev.name }}
        </mat-option>
      </mat-select>
      <mat-icon class="field-prefix" matPrefix>device_hub</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input name="name" formControlName="name" matInput placeholder="{{'glossary.Name'|translate}}" required>
      <mat-icon class="field-prefix" matPrefix>star</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input name="mail" formControlName="mail" matInput type="email" placeholder="{{'glossary.Mail'|translate}}" required>
      <mat-icon class="field-prefix" matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="phone" matInput placeholder="{{'glossary.Phone'|translate}}">
      <mat-icon class="field-prefix" matPrefix>phone</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'" placeholder="{{'glossary.Password'|translate}}">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-icon class="field-prefix" matPrefix>vpn_key</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input [matDatepicker]="activationTimePicker" formControlName="activationTime" matInput placeholder="{{'glossary.ActivationTime'|translate}}">
      <mat-datepicker-toggle matSuffix [for]="activationTimePicker"></mat-datepicker-toggle>
      <mat-datepicker #activationTimePicker></mat-datepicker>
      <mat-icon class="field-prefix" matPrefix>history</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input [matDatepicker]="expireTimePicker" formControlName="expireTime" matInput placeholder="{{'glossary.ExpireTime'|translate}}">
      <mat-datepicker-toggle matSuffix [for]="expireTimePicker"></mat-datepicker-toggle>
      <mat-datepicker #expireTimePicker></mat-datepicker>
      <mat-icon class="field-prefix" matPrefix>slow_motion_video</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input name="location" formControlName="location" matInput placeholder="{{'glossary.Location'|translate}}">
      <mat-icon class="field-prefix" matPrefix>account_balance</mat-icon>
    </mat-form-field>


    <div class="admin-type-field" *ngIf='!isOwner'>
      <mat-checkbox color='primary' [checked]='isAdmin' (change)='adminChange($event)'>{{'glossary.IsAdmin'|translate}}</mat-checkbox>
    </div>
  </form>
</div>