:host {
    width: 100%;
    height: 100%;
    display: block;
    div.dialog-container {
        div.dialog-header {
            border-bottom: 1px solid #E1E4E8;
            div.dialog-title {
                width: calc(100% - 15px);
                margin-left: 15px;
            }
        }
        div.dialog-footer {
            border-top: 1px solid #E1E4E8;
        }
    }
}