<form name="detailForm" [formGroup]="detailForm">
  <div class="form-container">

    <mat-form-field>
      <input matInput name="mail" formControlName="mail" required placeholder="{{'glossary.Mail'|translate}}">
      <mat-error *ngIf="detailForm.get('mail').hasError('required')">{{'message.RequiredError'|translate}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="type" formControlName="type" placeholder="{{'glossary.OrganType'|translate}}">
        <mat-option *ngFor="let kv of organTypes" [value]="kv[0]">
          {{ kv[1]|translate }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="detailForm.get('type').hasError('required')">{{'message.RequiredError'|translate}}</mat-error>
    </mat-form-field>
  </div>
</form>