<!-- SIDENAV HEADER -->
<div class="sidenav-header">

  <!-- USER TOOLBAR -->
  <mat-toolbar>

    <!-- TOOLBAR TOP -->
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
      <div>
        <button mat-button class="mat-icon-button" (click)="onBackToSpecs('specs')" aria-label="back">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div>
        <span class="bar-title">{{'glossary.ProductSpec'|translate}}</span>
      </div>
    </mat-toolbar-row>
    <!-- / TOOLBAR TOP -->

    <!-- TOOLBAR BOTTOM -->
    <mat-toolbar-row class="toolbar-bottom" fxLayout="column" fxLayoutAlign="center center">

      <img [src]="'assets/images/ecommerce/product-image-placeholder.png'" class="avatar user-avatar huge" />
      <!-- <div class="user-name my-8">{{user.name}}</div> -->

    </mat-toolbar-row>
    <!-- / TOOLBAR BOTTOM -->

  </mat-toolbar>
  <!-- / USER TOOLBAR -->
</div>

<!-- SIDENAV CONTENT -->
<div class="sidenav-content p-16" fusePerfectScrollbar fxFlex>

  <!-- USER MOOD -->
  <mat-card>

    <form [formGroup]="productSpecForm" fxLayout="column">
      <mat-form-field class="mb-24" fxFlex="0 1 auto">
        <input matInput placeholder="{{'glossary.Name'|translate}}" name="name" formControlName="name" required/>
      </mat-form-field>
      <mat-form-field class="mb-24" fxFlex="0 1 auto">
        <textarea matInput placeholder="{{'glossary.Description'|translate}}" name="description" formControlName="description" rows="3"></textarea>
      </mat-form-field>
    </form>

    <div fxLayout='row' fxLayoutAlign='end start'>
      <div>
        <button mat-button (click)='onSaveProductSpec()'>{{'button.Save'|translate}}</button>
      </div>
    </div>
  </mat-card>
  <!-- / USER MOOD -->
</div>