:host {
    div.container {
        div.title {
            display: flex;
            flex-flow: row;
            align-items: center;
            margin: .5rem 0;
            span.title {
                font-size: 1rem;
                font-weight: 600;
                padding-left: .5rem;
                color: #999999;
            }
        }
        div.bar {
            display: flex;
            flex-flow: row;
            justify-content: flex-end;
        }
        div.header {
            table {
                width: 100%;
                color: #999999;
                td {
                    text-align: left;
                    &.name {
                        width: 150px;
                    }
                    &.num {
                        width: 150px;
                    }
                }
            }
        }
    }
}